.row {
    margin-right: 0px;
    margin-left: 0px;
}
.login-page{

    /* background: linear-gradient(to bottom, #525252 50%,#f4f4f4 50%); */
}
.Login-Box{
    margin-top: 120px;
}


.main{
    border: thick;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0px 1px 10px rgb(168, 168, 168); */
    width: 400px;
    margin-right: 80px;
}
.panel{
    text-align: center;
}

.panel p{
    font-size: 16px;
    padding: 5px 5px;
    color: green;
}
h6{
    font-size: 13px;
    color: blue;
}
a{
    text-decoration: none;
}
@media screen and (max-width:370px) {
   
    .main {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        margin-top: 50px;
        width: 100%;
        display: block;
        text-align: center;
        margin-right: 0px;
    }
    .input-group-text{
        justify-content: center;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .input-group-prepend{
        justify-content: center;
        font-size: 14px;
        display: block;
    }
}
@media screen and (max-width:700px) {
    /* .login-page{
        position: static;
        text-align: center;
        margin-top: 60px;
    } */
    .main{
        margin-right: 0px;
    }
}
@media screen and (max-height:700px) {
    /* .login-page{
        position: static;
        text-align: center;
        margin-top: 60px;
    } */
    .main{
        margin-right: 0px;
    }
}

@media screen and (max-height:700px) {
    /* .login-page{
        position: static;
        text-align: center;
        margin-top: 60px;
    } */
    .main{
        margin-right: 40px;
    }
}
/* button,input,span{
    box-shadow: 2px 2px 10px rgb(168, 168, 168);
} */

.btn-primary{
    
    display: inline-block;
        outline: none;
        border-width: 0px;
        border-radius: 3px;
        box-sizing: border-box;
        font-size: inherit;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
        background: rgb(0, 82, 204);
        cursor: pointer;
        height: 32px;
        line-height: 32px;
        padding: 0px 12px;
        vertical-align: middle;
        font-size: 14px;
        color: rgb(255, 255, 255);


}
.btn-secondary{
    
    /* display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #808080;
    padding-bottom: 2px;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 4px solid #343434;
    color: white; */

    display: inline-block;
outline: none;
border-width: 0px;
border-radius: 3px;
box-sizing: border-box;
font-size: inherit;
font-weight: 500;
max-width: 100%;
text-align: center;
text-decoration: none;
transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
background: #545454;
cursor: pointer;
height: 32px;
line-height: 32px;
padding: 0px 12px;
vertical-align: middle;
width: auto;
font-size: 14px;
color: rgb(255, 255, 255);


}
.btn-success{
  

  display: inline-block;
  outline: none;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  background: #157347;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
  color: rgb(255, 255, 255);



}

.btn-danger{
  display: inline-block;
  outline: none;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  background: #c20000;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
  color: rgb(255, 255, 255);

}

.modal-footer{
    border-bottom: 4px solid #2b6cb0;
  }