.page {
    margin-right: 0px;
    margin-left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
    height: 100%;
    width: 100%;
}
.card{
    max-width: 24rem; 
    border: none;
    background-color: transparent;
}
.errorMessage{
    color: red; 
    margin-top: 5px;
    font-size: 13px;
}
a{
    text-decoration: none;
}