.text-right {
  text-align: right;
}

@media only screen and (min-width: 1400px) {
  a {
    font-size: 14px;
  }
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px 25px;
}

.card .card-block {
  padding: 1px 20px;
}

.card-icon {
  align-items: center;
  /* background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253)); */
  color: rgb(9, 9, 9);
  border-radius: 0.75rem;
}