<app-navbar></app-navbar>
<div class="row page">
    <div class="card login-card shadow">
        <div class="card-body">
            <form #f="ngForm">
                <div class="panel shadow">Select Laboratory</div> 
                <div class=" mt-4 pt-4">
                    <select class="form-select" name="laboratory" [(ngModel)]= "labId" required>
                        <option selected value="">Select Laboratory</option>
                        <option *ngFor= "let lab of labList" value={{lab.labId}}>{{lab.labName}}</option>
                    </select>
                </div>
                <div class="d-grid gap-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm mt-4 mb-2 mx-2 "
                        routerLink="/login">back</button>
                    <button type="button" class="btn btn-primary btn-sm mt-4 mb-2" (click)="onNext()"
                        [disabled]="!f.valid">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>