<div class="row mx-1 mx-md-4   ">
    <div class="card mt-2 py-2 header-card " style="border: none;">
        <div class="card-body">
            <h5 class="card-title linear-gradient-default"><i class="fa-solid fa-user me-2" style="font-size: 20px; padding: 2px;"></i> User Management </h5>
            <p class="card-text" style="font-size: 13px;">Here you can manage Docters Details </p>
            <a class="btn btn-secondary btn-sm " (click)="clickonBack()"> <i
                    class="fa-regular fa-square-caret-left"></i> Go Back</a>
            <a class="btn btn-secondary btn-sm ms-md-4 " (click)="addUserModal()" data-bs-toggle="modal"
                data-bs-target="#addUserModal">
                <i class="fa-solid fa-plus"></i> Add User </a>
            <a class="btn btn-secondary btn-sm ms-md-4 "><i class="fa-regular fa-share-from-square"></i> Export in PDF
            </a>
        </div>
    </div>
</div>
<div class="row mx-md-2  mt-4">
    <div class=" pt-2">
        <div class="row mx-1 py-2">
            <div class="col-xl-8 col-md-6">
                <h6>User List</h6>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="form-group input-group-sm ps-md-4">
                    <div class="input-group  input-group-sm">
                        <input type="text" class="form-control" minlength="3" placeholder="Enter Docters Name" required>
                        <button type="button" class="btn btn-secondary btn-sm"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="docterTable">
            <table class="table table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Mobile NO</th>
                        <th scope="col">Added Date</th>
                        <th scope="col">Modify Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of UsersList | paginate: { itemsPerPage: 9, currentPage: p }; index as i">
                        <td scope="row">{{user.userId}}</td>
                        <td class="docterName" (click)="viewUser(user.userId)" data-bs-toggle="modal"
                            data-bs-target="#viewUserModal">{{user.userFirstName}} {{user.userLastName}}</td>
                        <td>{{user.userMobileNumber}}</td>
                        <td>{{user.userRegestrationDate | date}}</td>
                        <td>{{user.userModificationDate | date}}</td>
                        <td>
                            <span *ngIf="user.userStatus == 'Inactive'" class="p-1"
                                style="color: red; background-color: rgb(255, 234, 234); border-radius: 5px;">Inactive</span>
                            <span *ngIf="user.userStatus == 'Active'" class="p-1"
                                style="color: darkgreen; background-color: rgb(233, 255, 233);border-radius: 5px;">Active</span>
                        </td>
                        <td><a style="color: green; cursor: pointer;" (click)="modifyUserModal(user.userId)"
                                data-bs-toggle="modal" data-bs-target="#addUserModal">Modify</a> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <pagination-controls (pageChange)="p = $event" class="pull-right"
                style="font-size: small;"></pagination-controls>
        </div>
    </div>
</div>


<!-- View User Modal -->
<div class="modal fade" id="viewUserModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="viewUserrModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ms-2" id="viewUserModalLabel">{{userObj.title}} {{userObj.userFirstName}}
                    {{userObj.userLastName}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body viewModalBody">
                <div class="container-sm">
                    <div class="row my-2 ">
                        <div class="col-12 col-md-4">
                            <div class="form-group input-group-sm">
                                <label for="">User ID </label>
                            </div>

                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group input-group input-group-sm">
                                <input type="text" class="form-control" minlength="3" [(ngModel)]="userObj.userId"
                                    name="doctorId" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2 ">
                        <div class="col-12 col-md-4">
                            <div class="form-group input-group-sm">
                                <label for="">Status </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group input-group input-group-sm">
                                <select class="form-control" [(ngModel)]="userObj.userStatus" name="disableFlag" disabled>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row my-2 ">
                        <div class="col-12 col-md-4">
                            <div class="form-group input-group-sm">
                                <label for="">Gender</label>
                            </div>

                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group input-group input-group-sm">
                                <select class="form-control" [(ngModel)]="userObj.gender" name="gender" disabled>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                    <option value="O">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">

                        <div class="col-12 col-md-4 ">
                            <div class=" form-group input-group-sm ">
                                <label for="">Country</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 ">
                            <div class="form-group input-group-sm">
                                <select class="form-control" [(ngModel)]="userObj.userCountry" name="country" disabled>
                                    <option value="IN">India</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-4  ">
                            <div class=" form-group input-group-sm  ">
                                <label for="">State </label>
                            </div>

                        </div>
                        <div class="col-12 col-md-8">
                            <div class="input-group flex-nowrap input-group-sm">
                                <select class="form-control" [(ngModel)]="userObj.userState" name="state" #state="ngModel"
                                    disabled>
                                    <option *ngFor="let state of stateList" value="{{state.code}}">{{
                                        state.discription
                                        }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">

                        <div class="col-12 col-md-4 ">
                            <div class=" form-group input-group-sm ">
                                <label for="">District </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group input-group-sm">
                                <select class="form-control" [(ngModel)]="userObj.userDistrict" name="district"
                                    #district="ngModel" disabled>
                                    <option *ngFor="let dist of districtList" value="{{dist.discription}}">{{
                                        dist.discription }}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-4 ">
                            <div class=" form-group input-group-sm">
                                <label for="">City / Village </label>
                            </div>

                        </div>
                        <div class="col-12 col-md-8">
                            <div class="input-group flex-nowrap input-group-sm">
                                <input type="text" class="form-control" minlength="3"
                                    [(ngModel)]="userObj.userCityOrVillage" name="city_village" disabled>
                            </div>
                        </div>
                    </div>


                    <div class="row my-2">

                        <div class="col-12 col-md-4 ">
                            <div class=" form-group input-group-sm ">
                                <label for="">Address Line</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group input-group-sm">
                                <div class="input-group flex-nowrap input-group-sm">
                                    <input type="text" class="form-control" minlength="3"
                                        [(ngModel)]="userObj.userAddressLine" name="addLine" disabled>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-4  ">
                            <div class=" form-group input-group-sm  ">
                                <label for="">Pincode </label>
                            </div>

                        </div>
                        <div class="col-12 col-md-8">
                            <div class="input-group flex-nowrap input-group-sm">
                                <input type="number" class="form-control" [(ngModel)]="userObj.userPincode" name="pincode"
                                    minlength="3" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">

                        <div class="col-12 col-md-4 ">
                            <div class=" form-group input-group-sm ">
                                <label for="">Mobile No</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group input-group-sm">
                                <div class="input-group flex-nowrap input-group-sm">
                                    <input type="number" class="form-control" minlength="3"
                                        [(ngModel)]="userObj.userMobileNumber" name="mobile" disabled>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-4  ">
                            <div class=" form-group input-group-sm  ">
                                <label for="">Email ID </label>
                            </div>

                        </div>
                        <div class="col-12 col-md-8">
                            <div class="input-group flex-nowrap input-group-sm">
                                <input type="email" class="form-control" minlength="3" [(ngModel)]="userObj.userMailId"
                                    name="emailId" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-4">
                            <label for="">User Role </label>
                        </div>
                        <div class="col-8">
                            <div class="form-group input-group-sm">
                                <input type="text" class="form-control" [(ngModel)]="userObj.userRole" name="remark"
                                    disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4">
                            <label for="">User Authorities </label>
                        </div>
                        <div class="col-8">
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add New User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ms-2" id="addUserModalLabel">{{modalHeader}}</h5>
                <button #closeUserModel type="button" class="btn-close" #closeLabModal data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-sm">
                    <form #f="ngForm">
                        <div *ngIf="modalType=='Modify'" class="row my-2 ">
                            <div class="col-12 col-md-4">
                                <div class="form-group input-group-sm">
                                    <label for="">Status *</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group input-group input-group-sm">
                                    <select class="form-select" [(ngModel)]="userObj.userStatus" name="userStatus">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row my-2 ">
                            <div class="col-12 col-md-4">
                                <div class="form-group input-group-sm">
                                    <label for="">Title *</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group input-group input-group-sm">
                                    <select class="form-select" [(ngModel)]="userObj.title" name="title" required>
                                        <option value="" selected>Select Title</option>
                                        <option value="DR.">DR.</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-md-4">
                                <label for="">First Name *</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class=" form-group input-group-sm">

                                    <div class="input-group flex-nowrap input-group-sm">
                                        <input type="text" class="form-control" [(ngModel)]="userObj.userFirstName"
                                            name="firstName" minlength="2" placeholder="Enter First Name" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-2 ">
                            <div class="col-12 col-md-4">
                                <div class="form-group input-group-sm">
                                    <label for="">Last Name *</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="input-group flex-nowrap input-group-sm">
                                    <input type="text" class="form-control" [(ngModel)]="userObj.userLastName"
                                        name="lastName" minlength="2" placeholder="Enter Last Name" required>
                                </div>
                            </div>

                        </div>
                        <div class="row my-2 ">
                            <div class="col-12 col-md-4">
                                <div class="form-group input-group-sm">
                                    <label for="">User Name *</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="input-group flex-nowrap input-group-sm">
                                    <input type="text" class="form-control" [(ngModel)]="userObj.userName"
                                        name="useName" minlength="3" placeholder="Enter User Name" required (blur)="userNameExistCheck(f)"
                                        [ngClass]="{ 'is-invalid': matchResponse.match === 'Y' }">
                                </div>
                            </div>

                        </div>
                        <div class="row my-2 ">
                            <div class="col-12 col-md-4">
                                <div class="form-group input-group-sm">
                                    <label for="">Gender *</label>
                                </div>

                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group input-group input-group-sm">
                                    <select class="form-select" [(ngModel)]="userObj.gender" name="gender" required>
                                        <option value="" selected>Select Gender</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="O">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row my-2">

                            <div class="col-12 col-md-4 ">
                                <div class=" form-group input-group-sm ">
                                    <label for="">Country *</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 ">
                                <div class="form-group input-group-sm">
                                    <select class="form-select" [(ngModel)]="userObj.userCountry" name="country" required>
                                        <option value="" selected>Select Country</option>
                                        <option value="IN">India</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-md-4  ">
                                <div class=" form-group input-group-sm  ">
                                    <label for="">State *</label>
                                </div>

                            </div>
                            <div class="col-12 col-md-8">
                                <div class="input-group flex-nowrap input-group-sm">
                                    <select class="form-select" [(ngModel)]="userObj.userState"
                                        (ngModelChange)="onSelectState()" name="state" #state="ngModel"
                                        [ngClass]="{ 'is-invalid': state.touched && state.errors, 'is-valid': state.touched && !state.errors }"
                                        required>
                                        <option value="" selected>Select State</option>
                                        <option *ngFor="let state of stateList" value="{{state.code}}">{{
                                            state.discription
                                            }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row my-2">

                            <div class="col-12 col-md-4 ">
                                <div class=" form-group input-group-sm ">
                                    <label for="">District *</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group input-group-sm">
                                    <select class="form-select" [(ngModel)]="userObj.userDistrict" name="district"
                                        #district="ngModel"
                                        [ngClass]="{ 'is-invalid': district.touched && district.errors,'is-valid': district.touched && !district.errors }"
                                        required>
                                        <option value="" selected>Select District</option>
                                        <option *ngFor="let dist of districtList" value="{{dist.discription}}">{{
                                            dist.discription }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-md-4 ">
                                <div class=" form-group input-group-sm">
                                    <label for="">City / Village *</label>
                                </div>

                            </div>
                            <div class="col-12 col-md-8">
                                <div class="input-group flex-nowrap input-group-sm">
                                    <input type="text" class="form-control" minlength="3"
                                        [(ngModel)]="userObj.userCityOrVillage" name="city_village"
                                        placeholder="Enter City / village name" required>
                                </div>
                            </div>
                        </div>


                        <div class="row my-2">

                            <div class="col-12 col-md-4 ">
                                <div class=" form-group input-group-sm ">
                                    <label for="">Address Line *</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group input-group-sm">
                                    <div class="input-group flex-nowrap input-group-sm">
                                        <input type="text" class="form-control" minlength="3"
                                            [(ngModel)]="userObj.userAddressLine" name="addLine"
                                            placeholder="Enter Address line" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-md-4  ">
                                <div class=" form-group input-group-sm  ">
                                    <label for="">Pincode </label>
                                </div>

                            </div>
                            <div class="col-12 col-md-8">
                                <div class="input-group flex-nowrap input-group-sm">
                                    <input type="number" class="form-control" [(ngModel)]="userObj.userPincode"
                                        name="pincode" minlength="3" placeholder="Enter Pincode">
                                </div>
                            </div>
                        </div>

                        <div class="row my-2">

                            <div class="col-12 col-md-4 ">
                                <div class=" form-group input-group-sm ">
                                    <label for="">Mobile No *</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group input-group-sm">
                                    <div class="input-group flex-nowrap input-group-sm">
                                        <input type="number" class="form-control" minlength="10"
                                            [(ngModel)]="userObj.userMobileNumber" name="mobile" placeholder="Enter Mobile No" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-md-4  ">
                                <div class=" form-group input-group-sm  ">
                                    <label for="">Email ID *</label>
                                </div>

                            </div>
                            <div class="col-12 col-md-8">
                                <div class="input-group flex-nowrap input-group-sm">
                                    <input type="email" class="form-control"
                                        [(ngModel)]="userObj.userMailId" name="emailId"
                                        placeholder="Enter Email Address" required>
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-md-4">
                                <label for="">User Role </label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group input-group-sm">
                                    <input type="text" class="form-control" [(ngModel)]="userObj.userRole"
                                        name="userRole" required disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-12 col-md-4">
                                <label for="">User Authorities *</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="dropup">
                                    <span #dropdownButtonclose></span>
                                    <span #dropdownButton id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                        aria-expanded="false"></span>
                                    <div class="form-select mb-0" (click)="onClickSelectedAuthorities()">
                                        <div class="text-secondary" style="font-size: 14px;" *ngIf="selectedAuthorities == undefined || selectedAuthorities.length==0">Select
                                            Authorities</div>
                                        <div class="selectedAuthorities ps-2 m-1 rounded-pill" *ngFor="let auth of selectedAuthorities index as i">
                                            {{auth}} <button [disabled]="i==0" class="btn rounded-circle p-1 px-2 me-0" stop-event-propagation
                                                (click)="onRemove(i,$event)"><i class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    </div>
                                    <ul class="row dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
                                        <li><a class="dropdown-item"><input type="text" class="form-control" placeholder="search"></a></li>
                                        <li><a class="dropdown-item" style="font-size: 13px;"  *ngFor="let auth of authorities index as i">
                                                <div class="form-check" >
                                                    <input [disabled]="i==0" class="form-check-input" type="checkbox" id="{{i}}" style="cursor: pointer;"
                                                        (click)="checkBoxCheck($event,auth.auth)" [checked]="auth.check">
                                                    <label class="form-check-label" style="font-size: 13px;" for="{{i}}" style="cursor: pointer;">
                                                        {{auth.auth}}
                                                    </label>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-md-4">
                                <label for="">Lab Access *</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="dropup">
                                    <span #labdropdownButtonclose></span>
                                    <span #labdropdownButton id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                        aria-expanded="false"></span>
                                    <div class="form-select mb-0" (click)="onClickSelectedLab()">
                                        <div class="text-secondary" style="font-size: 14px;" *ngIf="labList.length==0">Select
                                            Labs</div>
                                        <div *ngFor="let lab of labList index as i">
                                            <span *ngIf="lab.check==true" class="selectedAuthorities ps-2 m-1 rounded-pill">
                                                {{lab.LabName}} <button class="btn rounded-circle p-1 px-2 me-0" stop-event-propagation
                                                (click)="onRemoveLab(i,$event)"><i class="fa-solid fa-xmark"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <ul class="row dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
                                        <li><a class="dropdown-item"><input type="text" class="form-control" placeholder="search"></a></li>
                                        <li><a class="dropdown-item" style="font-size: 13px;"  *ngFor="let lab of labList index as i">
                                                <div class="form-check" >
                                                    <input  class="form-check-input" type="checkbox" id="{{lab.LabName}}" style="cursor: pointer;"
                                                        (click)="labCheckBoxCheck($event,i)" [checked]="lab.check">
                                                    <label class="form-check-label" style="font-size: 13px;" for="{{lab.LabName}}" style="cursor: pointer;">
                                                        {{lab.LabName}}
                                                    </label>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button *ngIf="modalType=='Add'" type="button" class="btn btn-success btn-sm" (click)="addUser()"
                    [disabled]="!f.valid">Add</button>
                <button *ngIf="modalType=='Modify'" type="button" class="btn btn-success btn-sm" (click)="modifyUser()"
                    [disabled]="!f.valid">Modify</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-dialog-scrollable" id="deleteUserModal" tabindex="-1" data-bs-backdrop="static"
    data-bs-keyboard="false" aria-labelledby="OptionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="OptionModalLabel">Alert</h5>
                <button type="button" class="btn-close" #OptionModal data-bs-toggle="modal" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body ms-4">
                Do you want delete this User !
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-dismiss="modal">
                    Cancel </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser()"> Delete </button>
            </div>
        </div>
    </div>
</div>