.main{
    width: 100%;
    border-radius: 10px;
    
}
.mainHeader{
    border-radius: 7px;
    border: solid;
    border-width: 1px;
    border-color: #e4e4e4;
    /* box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16); */
}
table{
    font-size: small;
    text-align: center;
}
.patientName:hover{
    color: blue;
    cursor: pointer;
}
.patientTableDiv{
    background-color:  rgb(255, 255, 255);
    border-radius: 7px;
    /* box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16); */
}
label{
    font-size: 14px;
}
.modal-body label{
    font-size: 14px;
  }

.card{
    border-color: #e4e4e4;
}

/* input,select{
    border-color: rgb(158, 158, 158);
} */
@media screen and (max-height:900px){
    .PatientTable{
        height: 350px;
    }
}
@media screen and (max-height:720px){
    .PatientTable{
        max-height: 350px;
    }
}


.bg-c-green {
    background: linear-gradient(45deg, #19cfab, #85e7d4); }
.bg-c-blue {
    background: linear-gradient(45deg, #4d9df9, #93c6ff); }



/* table{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    display: block;
}
thead {
    width: 100%;
    top: 0;
    z-index: 2;
    position: sticky;
 } */

 .tableLink{
 color:  rgb(0, 110, 255);
 cursor: pointer;
 background-color: rgb(196, 219, 249);
 padding: 2px;
 border-radius: 2px;
 margin-bottom: 0px;
 }

 .patientStatus{
    color:  rgb(229, 145, 0);
    text-decoration: none;
    padding: 2px;
    background-color: rgb(255, 225, 172);
    border-radius: 2px;
    margin-bottom: 0px;
 }

 label{
    font-size: 13px;
 }

 .btn-primary{
    
    /* display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #4299e1;
    padding-bottom: 2px;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 4px solid #2b6cb0;
    color: white; */

    
    display: inline-block;
    outline: none;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: rgb(0, 82, 204);
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0px 12px;
    vertical-align: middle;
    width: auto;
    font-size: 14px;
    color: rgb(255, 255, 255);
    :hover {
        background: rgb(0, 101, 255);
        text-decoration: inherit;
        transition-duration: 0s, 0.15s;
        color: rgb(255, 255, 255);
    }



}
.btn-secondary{
/*     
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #808080;
    padding-bottom: 2px;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 4px solid #343434;
    color: white; */


    display: inline-block;
    outline: none;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: #545454;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0px 12px;
    vertical-align: middle;
    width: auto;
    font-size: 14px;
    color: rgb(255, 255, 255);


}

.btn-danger{

    display: inline-block;
    outline: none;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: #c20000;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0px 12px;
    vertical-align: middle;
    width: auto;
    font-size: 14px;
    color: rgb(255, 255, 255);


}

      
.modal-header{
    border: none;
    /* background: linear-gradient(to left, #f4f4f4 100%, blue 0%); */
  }
  .modal-footer{
    border: none;
    border-bottom: 4px solid #2b6cb0;
  }
  .modal-title{
    color: rgb(82, 82, 82); 
    font-size: 16px;
    font-weight: bold;
    font: Arial;
  }