.modal-body label {
    font-size: 14px;
}


@media screen and (max-height:900px) {
    .PatientTable {
        height: 350px;
    }
}

@media screen and (max-height:720px) {
    .PatientTable {
        max-height: 350px;
    }
}

.tableLink {
    color: rgb(0, 110, 255);
    cursor: pointer;
    background-color: rgb(196, 219, 249);
    padding: 2px;
    border-radius: 2px;
    margin-bottom: 0px;
}

.patientStatus {
    color: rgb(229, 145, 0);
    text-decoration: none;
    padding: 2px;
    background-color: rgb(255, 225, 172);
    border-radius: 2px;
    margin-bottom: 0px;
}

label {
    font-size: 13px;
}