<div class="row mt-4 mx-2 justify-content-center">
    <div class="card px-0" style="max-width: 35rem;">
        <div class="card-body px-0">
            <div class="container-sm">
                <h5 class="modal-title ms-2 mb-4"> Add Laboratory </h5>
                <form #f="ngForm">
                    <div class="row my-2 px-2">
                        <div class="form-group col-12 col-md-4">
                            <label for="">Laboratory Name *</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="input-group flex-nowrap input-group-sm">
                                <input type="text" class="form-control " minlength="3" [(ngModel)]="labObj.labName"
                                    name="labName" #labName="ngModel" placeholder="Enter Name" required
                                    [ngClass]="{ 'is-valid': labName.touched && !labName.errors,'is-invalid': labName.touched && labName.errors }">
                            </div>
                        </div>
                    </div>

                    <div class="row my-2 mt-4 px-2">
                        <div class=" col-12 col-md-4">
                            <div class=" form-group input-group-sm ">
                                <label for="">Lab Logo *</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="input-group input-group-sm">
                                <input type="file" class="form-control" (change)="picked($event)">
                                <label class="input-group-text" (click)="addPictures()"
                                    for="inputGroupFile02">Upload</label>
                            </div>
                        </div>

                    </div>
                    <div class="row my-2 mt-4 px-2 d-flex justify-content-center">
                        <div class="labLogoBox d-flex justify-content-center">
                            <img class="labLogo p-1" src="{{ labLogoString}}">
                        </div>
                    </div>

                    <div class="row my-4 mt-4 px-2">
                        <label for="">Address And Communication : </label>
                    </div>

                    <div class="row my-2 px-2">

                        <div class="col-12 col-md-4 ">
                            <div class=" form-group input-group-sm ">
                                <label for="">Country *</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 ">
                            <div class="form-group input-group input-group-sm">
                                <select class="form-select" [(ngModel)]="labObj.country" name="country"
                                    #country="ngModel"
                                    [ngClass]="{ 'is-invalid': country.touched && country.errors,'is-valid': country.touched && !country.errors }"
                                    required>
                                    <option value="" selected>Select Country</option>
                                    <option value="IN">India</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2 px-2">

                        <div class="col-12 col-md-4 ">
                            <div class=" form-group input-group-sm ">
                                <label for="">State *</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 ">
                            <div class="form-group input-group input-group-sm">
                                <select class="form-select" [(ngModel)]="labObj.state" (ngModelChange)="onSelectState()"
                                    name="state" #state="ngModel"
                                    [ngClass]="{ 'is-invalid': state.touched && state.errors, 'is-valid': state.touched && !state.errors }"
                                    required>
                                    <option value="" selected>Select State</option>
                                    <option *ngFor="let state of stateList" value="{{state.code}}">{{ state.discription
                                        }}
                                    </option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2 px-2">

                        <div class="col-12 col-md-4 ">
                            <div class=" form-group input-group-sm ">
                                <label for="">District *</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 ">
                            <div class="form-group input-group input-group-sm">
                                <select class="form-select" [(ngModel)]="labObj.district" name="district"
                                    #district="ngModel"
                                    [ngClass]="{ 'is-invalid': district.touched && district.errors,'is-valid': district.touched && !district.errors }"
                                    required>
                                    <option value="" selected>Select District</option>
                                    <option *ngFor="let dist of districtList" value="{{dist.discription}}">{{
                                        dist.discription }}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2 px-2">
                        <div class="col-12 col-md-4  ">
                            <div class=" form-group input-group-sm ">
                                <label for="">City / Village *</label>
                            </div>

                        </div>
                        <div class="col-12 col-md-8 ">
                            <div class="input-group flex-nowrap input-group-sm">
                                <input type="text" class="form-control" minlength="3" [(ngModel)]="labObj.city_village"
                                    name="city_village" #city_village="ngModel"
                                    [ngClass]="{ 'is-invalid': city_village.touched && city_village.errors,'is-valid': city_village.touched && !city_village.errors }"
                                    placeholder="Enter City / village name" required>
                            </div>
                        </div>
                    </div>


                    <div class="row my-2 px-2">

                        <div class="col-12 col-md-4 ">
                            <div class=" form-group input-group-sm ">
                                <label for="">Address Line *</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 ">
                            <div class="form-group input-group-sm">
                                <div class="input-group flex-nowrap input-group-sm">
                                    <input type="text" class="form-control" minlength="3" [(ngModel)]="labObj.addLine"
                                        name="addLine" #addLine="ngModel"
                                        [ngClass]="{ 'is-invalid': addLine.touched && addLine.errors, 'is-valid': addLine.touched && !addLine.errors}"
                                        placeholder="Enter Address line" minlength="3" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2 px-2">
                        <div class="col-12 col-md-4 ">
                            <div class=" form-group input-group-sm ">
                                <label for="">Pincode *</label>
                            </div>

                        </div>
                        <div class="col-12 col-md-8">
                            <div class="input-group flex-nowrap input-group-sm">
                                <input type="number" class="form-control" [(ngModel)]="labObj.pincode" name="pincode"
                                    #pincode="ngModel"
                                    [ngClass]="{ 'is-invalid': pincode.touched && pincode.errors, 'is-valid': pincode.touched && !pincode.errors }"
                                    placeholder="Enter Pincode" maxlength="6" minlength="6"
                                    (keyup)="pincodeValidation()" required>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2 px-2">

                        <div class="col-12 col-md-4">
                            <div class=" form-group input-group-sm ">
                                <label for="">Mobile No *</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group input-group-sm">
                                <div class="input-group flex-nowrap input-group-sm">
                                    <input type="number" class="form-control" [(ngModel)]="labObj.mobileNumber"
                                        name="mobileNumber" #mobileNumber="ngModel"
                                        [ngClass]="{ 'is-invalid': mobileNumber.touched && mobileNumber.errors, 'is-valid': mobileNumber.touched && !mobileNumber.errors }"
                                        placeholder="Enter Mobile No" minlength="10" size="10"
                                        (keyup)="mobileNumberValidation()" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2 px-2">
                        <div class="col-12 col-md-4  ">
                            <div class=" form-group input-group-sm ">
                                <label for="">Email ID *</label>
                            </div>

                        </div>
                        <div class="col-12 col-md-8">
                            <div class="input-group flex-nowrap input-group-sm">
                                <input type="email" class="form-control" minlength="3" [(ngModel)]="labObj.emailId"
                                    name="emailId" #emailId="ngModel"
                                    [ngClass]="{ 'is-invalid': emailId.touched && emailId.errors,'is-valid': emailId.touched && !emailId.errors }"
                                    placeholder="Enter Email Address " email required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer justify-content-end">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-success btn-sm" (click)="addLab()" [disabled]="!f.valid">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>