.image-block{
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 15px;
    background: linear-gradient(310deg, rgb(122, 151, 255), rgb(152, 236, 255));
    border-radius: 4px;
}
.image{
    width: 50px;
    filter: brightness(1.50);
    
}
