.image-block {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
  background-color: rgba(213, 213, 213, 0.458);
  border-radius: 4px;
}

.image {
  width: 60px;
}

.patient-banner-card{

  .card-title{
    font-family: Roboto;
    margin: 0px;
  }
  .patient-banner-card-text{
    font-size: 13.5px;
  }
}

.nav .nav-link {
  padding-top: 5px;
  padding-bottom: 4px;
  border-radius: 2px;
}

.nav .nav-link:hover {
  border-color: #fff;
}

.dropdown-item:hover {
  cursor: pointer;
}

.searchDropdown {
  width: 100%;
  overflow: hidden;
  overflow: auto;
  max-height: 350px;
}

.modal .card{
  border: none;
  background-color: rgba(155, 155, 155, 0.07);
  border-left: 5px solid var(--ds-background-accent-orange-subtler, #6a6a6a25);
}

.patientStatusCompleted {
    text-align: center;
    color: rgb(22, 207, 105);
    text-decoration: none;
    padding: 2px;
    background-color: rgba(130, 255, 222, 0.241);
    border-radius: 2px;
    max-width: 90px;

}

.patientStatusPending {
    text-align: center;
    color: rgb(255, 162, 0);
    text-decoration: none;
    padding: 2px;
    background-color: rgba(255, 209, 130, 0.24);
    border-radius: 2px;
    margin-bottom: 0px;
    max-width: 90px;
}