.image-block{
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    background-color: rgba(213, 213, 213, 0.458);
    border-radius: 4px;
}
.image{
    width: 60px;
}
