<!-- <div >
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: rgb(10, 84, 95);">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-microscope navbar-brand" style="color: #ffffff;"></i>Pathological Lab Billing Application</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="d-flex">
        <a class="navbar-brand" routerLink="/login" ><i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> Login</a>
      </div>
    </nav>
  </div> -->


  <nav class="navbar fixed-top navbar-expand-lg navbar-light shadow-sm" style="background-color: rgb(250, 250, 250);">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-microscope navbar-brand" style="color: #464646;"></i>Pathological Lab Billing Application</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <div class="d-flex ">
          <a class="navbar-brand" routerLink="/login" ><i class="fa-solid fa-right-to-bracket" style="color: #424242;"></i> Login</a>
        </div>
      </div>
    </div>
  </nav>