<!-- <div >
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: rgb(10, 84, 95);">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-microscope navbar-brand" style="color: #ffffff;"></i>Pathological Lab Billing Application</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="d-flex">
        <a class="navbar-brand" routerLink="/login" ><i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> Login</a>
      </div>
    </nav>
  </div> -->


  <nav class="navbar fixed-top navbar-expand-lg navbar-light shadow-sm py-1 ">
    <div class="container-fluid py-0 ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"  style=" font-size: 14px;"><i class="fa-solid fa-microscope mx-3 p-2 shadow " style="font-size: 16px; background-color: #1369ea; border-radius: 4px; color: white;"></i> Pathological Lab Billing Application</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex ">
          <div class="btn-group mx-3">
            <span style=" cursor: pointer;" >
                <span *ngIf="!darkFlag" (click)="darkMode()" data-bs-toggle="tooltip" title="dark mode" data-bs-placement="bottom"  style="font-size: 18px"><i class="fa-solid fa-moon"></i></span>
                <span *ngIf="darkFlag" (click)="lightMode()" data-bs-toggle="tooltip" title="light mode" data-bs-placement="bottom" style="font-size: 18px"><i class="fa-regular fa-sun"></i></span>
            </span>
        </div>
          <a  class="nav-link active" routerLink="/login"  style=" text-decoration: none;" ><i class="fa-solid fa-right-to-bracket" ></i> Login</a>
        </div>
      </div>
    </div>
  </nav>