/* .navbar{
    box-shadow: 0px 1px 10px rgb(168, 168, 168);
} */


    
  /* .bg-c-blue {
    background: linear-gradient(45deg, #2088ff, #73b4ff); }
  
  .text-c-blue {
    color: #4099ff; }
  
  .bg-c-pink {
    background: linear-gradient(45deg, #FF5370, #ff869a); }
  
  .text-c-pink {
    color: #FF5370; }
  
  .bg-c-green {
    background: linear-gradient(45deg, #15dbb4, #59e0c5); }
  
  .text-c-green {
    color: #2ed8b6; }
  
  .bg-c-yellow {
    background: linear-gradient(45deg, #FFB64D, #ffcb80); }
  
  .text-c-yellow {
    color: #FFB64D; }
  
  .bg-c-orenge {
    background: linear-gradient(45deg, #FE8A7D, #feb8b0); }
  
  .text-c-orenge {
    color: #FE8A7D; }
  
  .bg-c-lite-green {
    background: linear-gradient(45deg, #69CEC6, #8fdbd5); }
  
  .text-c-lite-green {
    color: #69CEC6; }
   */