<div class="row mx-2 mt-2 " style="border-radius: 7px;">
    <div class="card py-3 ps-4 header-card" style="border: none;">
        <div class="card-body p-1 py-md-2">
          <div class="mb-4">
            <div style="display: inline-block;">
              <div class="image-block"  *ngIf="patientObj.gender=='M'">
                <img class="image"  src="../../../assets/icon/user-male.png" alt="">
              </div>
              <div class="image-block" *ngIf="patientObj.gender=='F'">
                <img class="image" src="../../../assets/icon/user-female.png" alt="">
              </div>
            </div>
            <div style="display: inline-block; vertical-align: middle;">
              <h6 class="card-title" style="font-size: 17px;">{{patientObj.title}} {{patientObj.firstName}} {{patientObj.lastName}}</h6>
              <div style="font-size: 13px;">Address Detials : {{patientObj.addressLine}}, {{patientObj.cityVillage}}, {{patientObj.district}}, {{patientObj.state}}</div>
              <p class="card-text" style="font-size: 13px; ">
                <span>Gender : </span>{{patientObj.gender}} 
                <span class="ms-2">Mobile No : </span>{{patientObj.mobileNo}} 
                <span class="ms-2">Added date : </span>{{patientObj.addedDate}} 
              </p>
            </div>
          </div>
          
          <a  class="btn btn-secondary btn-sm " (click) = "clickonBack()" > <i class="fa-regular fa-square-caret-left"></i> Go Back</a>
          <a  class="btn btn-secondary btn-sm ms-md-4 " (click)="openPatientModal()" data-bs-toggle="modal" data-bs-target="#modifyPatientModal" >
            <i class="fa-regular fa-pen-to-square"></i> Edit Pateint </a>
          <a  class="btn btn-danger btn-sm ms-md-4 "  ><i class="fa-solid fa-trash-can"></i> Trash </a>
        </div>
      </div>
</div>
<div class="row mx-2 mx-md-4 mt-4">
    <div class="patientTableDiv">
        <div class="row py-2">
            <div class="col-6">
                <h6>Entry List</h6>
            </div>
        </div>
        <div class="PatientTable" style="overflow-y: auto;">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th scope="col">Entry ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Refer By</th>
                        <th scope="col">Entry Added Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of this.patientObj.patientEntryList| paginate: { itemsPerPage: 7, currentPage: p }; index as i">
                        <td>{{entry.entryId}}</td>
                        <td>{{entry.status}}</td>
                        <td>{{entry.doctor.title}} {{entry.doctor.firstName}} {{entry.doctor.lastName}}</td>
                        <td>{{entry.addedDate | date: 'dd/MM/yyyy hh:mm a'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-grid gap-2 d-flex justify-content-end">
            <pagination-controls (pageChange)="p = $event" class="pull-right" style="font-size: small;"></pagination-controls>
        </div>
    </div>
    
</div>



<!-- patient modal -->
<div class="modal fade" id="modifyPatientModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
aria-labelledby="modifyPatientModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
  <div class="modal-content">
    <div class="modal-header ">
      <h5 class="modal-title" id="modifyPatientModalLabel">{{modalTitle}} </h5>
      <button type="button" #closemodifyPatientModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
      <div class="container-sm">
        <div class="row my-2 px-2">
          <div class="col-12 col-md-4 col-lg-2">
            <label for="">Title </label>
          </div>
          <div class="col-12 col-md-8 col-lg-4">
            <div class="form-group input-group input-group-sm">
              <select class="form-select" name="title" [(ngModel)]="patientObj.title" required>
                <option class="form-control" value="">Select</option>
                <option class="form-control" value="MR.">MR.</option>
                <option class="form-control" value="MRS.">MRS.</option>
                <option class="form-control" value="MS.">MS.</option>
                <option class="form-control" value="DR.">DR.</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
            <div class=" form-group input-group-sm ms-lg-4">
              <label for="">First Name</label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
            <div class="form-group input-group-sm">
              <div class="input-group flex-nowrap input-group-sm">
                <input type="text" class="form-control" minlength="2" name="firstName"
                  [(ngModel)]="patientObj.firstName" placeholder="Enter First Name" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2 px-2">
          <div class="col-12 col-md-4 col-lg-2">
            <div class=" form-group input-group-sm ">
              <label for="">Middle Name</label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4">
            <div class="form-group input-group-sm">
              <div class="input-group flex-nowrap input-group-sm">
                <input type="text" class="form-control" name="middleName"
                  [(ngModel)]="patientObj.middleName" placeholder="Enter Middle Name">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
            <div class=" form-group input-group-sm ms-lg-4 ">
              <label for="">Last Name </label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
            <div class="input-group flex-nowrap input-group-sm">
              <input type="text" class="form-control" minlength="2" name="lastName" [(ngModel)]="patientObj.lastName"
                placeholder="Enter Last Name" required>
            </div>
          </div>
        </div>
        <div class="row my-2 px-2">
          <div class="col-12 col-md-4 col-lg-2">
            <div class="form-group input-group-sm">
              <label for="">Gender </label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4 ">
            <div class="form-group input-group input-group-sm">
              <select class="form-select" name="gender" [(ngModel)]="patientObj.gender" minlength="1" required>
                <option class="form-control" value="">Select gender</option>
                <option class="form-control" value="M">Male</option>
                <option class="form-control" value="F">Female</option>
                <option class="form-control" value="O">Other</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
            <div class=" form-group input-group-sm ms-lg-4 ">
              <label for="">Age </label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
            <div class="row">
              <div class="col-6">
                <div class="input-group flex-nowrap input-group-sm">
                  <input type="number" class="form-control" minlength="2" name="age" [(ngModel)]="patientObj.age"
                    placeholder="Enter Age" required>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group input-group input-group-sm">
                  <select class="form-select" name="ageUnit" [(ngModel)]="patientObj.ageUnit"  minlength="1" required="">
                    <option class="form-control" selected value="Y">Year</option>
                    <option class="form-control" value="M">Month</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2 mt-4">
          <label for="">Address And Communication</label>
        </div>
        <div class="row my-2 px-2">
          <div class="col-12 col-md-4 col-lg-2">
            <div class=" form-group input-group-sm ">
              <label for="">Country</label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4">
            <div class="form-group input-group-sm">
              <div class="input-group flex-nowrap input-group-sm">
                <select class="form-select" minlength="2" name="country" [(ngModel)]="patientObj.country" required>
                  <option value="" selected>Select Country</option>
                  <option value="IN">India</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
            <div class=" form-group input-group-sm ms-lg-4 ">
              <label for="">State </label>
            </div>

          </div>
          <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
            <div class="input-group flex-nowrap input-group-sm">
              <select class="form-select" name="state" [(ngModel)]="patientObj.state"
                (ngModelChange)="onSelectState()" required>
                <option value="" selected>Select State</option>
                <option *ngFor="let state of stateList" value="{{state.code}}">{{ state.discription }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row my-2 px-2">
          <div class="col-12 col-md-4 col-lg-2">
            <div class=" form-group input-group-sm ">
              <label for="">District</label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4">
            <div class="form-group input-group-sm">
              <div class="input-group flex-nowrap input-group-sm">
                <select class="form-select" name="district" minlength="2" [(ngModel)]="patientObj.district" required>
                  <option value="" selected>Select District</option>
                  <option *ngFor="let dist of districtList" value="{{dist.discription}}">{{ dist.discription }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
            <div class=" form-group input-group-sm ms-lg-4 ">
              <label for="">City / Village </label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
            <div class="input-group flex-nowrap input-group-sm">
              <input type="text" class="form-control" minlength="2" name="cityVillage"
                [(ngModel)]="patientObj.cityVillage" placeholder="Enter City / village name" required>
            </div>
          </div>
        </div>
        <div class="row my-2 px-2">
          <div class="col-12 col-md-4 col-lg-2">
            <div class=" form-group input-group-sm ">
              <label for="">Address Line</label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4">
            <div class="form-group input-group-sm">
              <div class="input-group flex-nowrap input-group-sm">
                <input type="text" class="form-control" minlength="2" name="addressLine"
                  [(ngModel)]="patientObj.addressLine" placeholder="Enter Address line" required>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
            <div class=" form-group input-group-sm ms-lg-4 ">
              <label for="">Pincode </label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
            <div class="input-group flex-nowrap input-group-sm">
              <input type="number" class="form-control" name="pincode" [(ngModel)]="patientObj.pincode"
                placeholder="Enter Pincode">
            </div>
          </div>
        </div>
        <div class="row my-2 px-2">
          <div class="col-12 col-md-4 col-lg-2">
            <div class=" form-group input-group-sm ">
              <label for="">Mobile No</label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4">
            <div class="form-group input-group-sm">
              <div class="input-group flex-nowrap input-group-sm">
                <input type="number" class="form-control" name="mobileNo"
                  [(ngModel)]="patientObj.mobileNo" placeholder="Enter Mobile No">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
            <div class=" form-group input-group-sm ms-lg-4 ">
              <label for="">Email ID </label>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
            <div class="input-group flex-nowrap input-group-sm">
              <input type="email" class="form-control" name="emailId" [(ngModel)]="patientObj.emailId"
                placeholder="Enter Email Address ">
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      <button type="button" [disabled]="!f.valid" (click)="modifyPatient()" class="btn btn-success btn-sm">Save
        changes</button>
    </div>
  </div>
</div>
</div>