.nav .nav-link {
  padding-top: 5px;
  padding-bottom: 4px;
  border-radius: 2px;
}

.nav .nav-link:hover {
  border-color: #fff;
}
.dropdown-item:hover{
  cursor: pointer;
}

.searchDropdown{
  width: 100%; 
  overflow: hidden; 
  overflow: auto; 
  max-height: 350px;
}
.card{
  border: none;
  background-color: rgba(155, 155, 155, 0.07);
  border-left: 5px solid var(--ds-background-accent-orange-subtler, #6a6a6a25);
}