
.patientTableDiv{
    background-color:  rgb(255, 255, 255);
    border-radius: 7px;
}
table{
    font-size: small;
    text-align: center;
}
.patientName:hover{
    color: blue;
    cursor: pointer;
}


.reports-modalbody {
  height: 82vh;
  overflow-y: auto;
}
/* .modal-footer{
  border-bottom: 4px solid #2b6cb0;
} */

/* .report-data-field{
  height: 54vh;
  overflow-y: auto;
} */

.report-table-head th{
  border: 1px solid black;
  border-collapse: collapse;

}

.pdfContent{
  width: 595px;
  height: 842px;
}