<div *ngIf = "true">
    <div class="row mx-4  " >
      <div class="card mt-2 py-2 header-card" style="border: none;">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold; color: rgb(80, 80, 80);"><i class="fa-solid fa-gear me-2"></i> Setting </h5>
            <p class="card-text" style="font-size: 13px; color: black;">Here you can manage your Profile, Security and other Details etc. </p>
          </div>
        </div>
  </div>
    <div class="row m-4 ">
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <div class="card  p-4 Masters-Card header-card" >
                <div class="card-body">
                  <h6 class="card-title"><i class="fa-solid fa-user-doctor me-2"></i> Profile</h6>
                  <p class="card-text">Here you can manage profile details</p>
                  <a  class="btn btn-sm btn-secondary" >Profile Deatils</a>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <div class="card  p-4 Masters-Card header-card" >
                <div class="card-body ">
                  <h6 class="card-title"><i class="fa-solid fa-shield me-2"></i> Security</h6>
                  <p class="card-text">Here you can manage Password and more</p>
                  <a  class="btn btn-sm btn-secondary" >Security Setting</a>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <div class="card  p-4 Masters-Card header-card" >
                <div class="card-body">
                  <h6 class="card-title"> <i class="fa-regular fa-credit-card me-2"></i> Subscriptions </h6>
                  <p class="card-text">Here you can manage Subscriptions details</p>
                  <a  class="btn btn-sm btn-secondary" >More Details</a>
                </div>
              </div>
        </div>
    </div>
    
</div>
