<div >
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top pb-1 px-2 p-xs-0 " style="background-color: #3f51b5 ;box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16)" [ngClass]="{'side-nav-open': menuStatus}">
      <div class="container-fluid px-0 mx-0 " >
        <div class="navbar-brand  ">
          <span style="font-size: 16px; font-family: Arial, sans-serif;"> <i class="fa-solid fa-microscope mx-3" style="font-size: 20px;"></i> APLS</span>
        </div>
        <div class="navbar-brand  ">
          <span class="ms-4" (click)= "onClickToggled()" style=" cursor: pointer;"><i class="fa-solid fa-bars"></i></span>
        </div>    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-4 mb-2 mb-lg-0 ">
          <li class="nav-item  ">
            <a class="nav-link active " aria-current="page" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 14px;cursor: pointer;">
              <i class="fa-regular fa-pen-to-square"></i> New Entry</a>
          </li>
          <li>
            <a  class="nav-link active" data-bs-toggle="modal" data-bs-target="#editPatientModal" style="font-size: 14px;cursor: pointer;">
              <i class="fa-solid fa-plus"></i> Add New Patient</a>
          </li>
        </ul>
        
      </div>
    
        <div class="d-flex text-light" >
          <div class="btn-group mx-3">
            <span style=" cursor: pointer;" >
                <span *ngIf="!fullScreenFlag" (click)="openFullscreen()" style="font-size: 20px"><i class="fa-solid fa-expand"></i></span>
                <span *ngIf="fullScreenFlag" (click)="closeFullscreen()" style="font-size: 20px"><i class="fa-solid fa-compress"></i></span>
            </span>
        </div>
        <div class="btn-group">
          <span class="" style="font-size: 20px; cursor: pointer;" data-bs-toggle="dropdown" 
          data-bs-auto-close="outside" aria-expanded="true" >
            <i class="fas fa-bell px-2"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" *ngIf = "!noNotification" style="font-size: 11px;">
              {{countOfNotification}}
              <span class="visually-hidden">unread messages</span>
            </span>
          </span>
          
          <div class="notification-dropdown dropdown-menu dropdown-menu-end notification-container shadow " id="notificationDropdown" aria-labelledby="dropdownMenuClickable">
            <div class="all-notification-item d-flex" >
              <div> Notifications</div>
              <button type="button" class="btn btn-secondary btn-sm me-2 m-auto" (click)= "clearAllNotification()">clear all</button>
            </div>
            <div style="max-height: 450px; overflow-y: auto;">
              <div *ngIf = "noNotification">
                <div class="notification-item" >
                  <div class="message">No New Notification.</div>
                </div>
              </div>
  
              <div class="notification-item" *ngFor= "let obj of notification index as i">
                <div class="d-flex">
                  <div>
                      <div class="notification-title d-flex">New Notification</div>
                      <div class="message">{{obj.message}}</div>
                      <div class="time">5 minutes ago</div>
                  </div>
                  <span class="closeNotificationbtn me-0 mx-auto"  (click)= "closeNotification(i)"><i class="fa-solid fa-xmark" ></i></span>
                  <!-- <button type="button" class="btn-close me-0 m-auto" data-bs-dismiss="toast" aria-label="Close"  (click)= "closeNotification(i)"></button> -->
                </div>
              </div>
            </div>
          </div>
        </div>



      <div class="btn-group mx-3 mx-xs-1 me-xs-1">
          <span class="mt-1" data-bs-toggle="dropdown" style="font-size: 16px;cursor: pointer;"><i class="fa-solid fa-user-doctor me-2" style="font-size: 20px;"></i></span>
        
          <ul class="dropdown-menu dropdown-menu-light shadow dropdown-menu-end profile py-2"  >
              <li class="dropdown-item"> <i class="fa-solid fa-user-doctor p-2 profile-picture me-2"></i> Ganesh Sapate </li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item" (click)= "onProfileClick()"><i class="fa-solid fa-user-doctor me-2"></i> Your Profile</li>
              <li class="dropdown-item" (click)= "onSettingClick()"><i class="fa-solid fa-gear me-2"></i> Setting</li>
              <li class="dropdown-item" (click)= "onSecurityClick()"><i class="fa-solid fa-shield me-2"></i> Security</li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item" (click)= "onLogoutClick()"><i class="fa-solid fa-right-from-bracket me-2"></i> Log Out</li>
          </ul>
      </div>
    </div>

    </div>
    </nav>
  </div>



<!-- Add new patient modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
      <div class="modal-content ">
        <div class="modal-header d-flex">
          <h5 class="modal-title" id="exampleModalLabel"> Create New Entry </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-xl">

                <div class="row my-lg-2 justify-content-center">
                    <div class="col-12 col-md-3 col-lg-4 col-xl-3">
                        <h6>Search Patient </h6>
                    </div>
                    <div class="col-12 col-md-4 col-lg-5 col-xl-5">
                      <div class="form-group input-group input-group-sm">
                          <input type="text" class="form-control" list="datalistOptions"  minlength="3" placeholder="Enter Name or Mobile No" required>
                          <button class="btn btn-secondary btn-sm">Add</button>
                          <datalist id="datalistOptions">
                            <option value="San Francisco">
                            <option value="New York">
                            <option value="Seattle">
                            <option value="Los Angeles">
                            <option value="Chicago">
                          </datalist>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                      <a  class="btn btn-primary btn-sm ms-md-4" data-bs-toggle="modal" data-bs-target="#editPatientModal">
                        <i class="fa-solid fa-plus"></i> Add New Patient</a>
                  </div>
                </div>
                <hr>
                <div class="row my-lg-2 ">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group input-group-sm" >
                            <label for="">Title </label>
                        </div>
                        <div class="form-group input-group input-group-sm">
                            <select class="form-control" >
                                <option class="form-control"  value="">Select</option>
                                <option class="form-control"  value="MR.">MR.</option>
                                <option class="form-control"  value="MRS.">MRS.</option>
                                <option class="form-control"  value="MS.">MS.</option>
                                <option class="form-control"  value="DR.">DR.</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class=" form-group input-group-sm" >
                            <label for="">First Name</label>
                            <div class="input-group flex-nowrap input-group-sm">
                                <input type="text" class="form-control"   minlength="3"
                                 placeholder="Enter First Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group input-group-sm"  >
                            <label for="">Last Name </label>
                            <div class="input-group flex-nowrap input-group-sm">
                            <input type="text" class="form-control"   minlength="3"
                            placeholder="Enter Last Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group input-group-sm" >
                            <label for="">Gender </label>
                        </div>
                        <div class="form-group input-group input-group-sm">
                            <select class="form-control" >
                                <option class="form-control"  value="">Select gender</option>
                                <option class="form-control"  value="M">Male</option>
                                <option class="form-control"  value="F">Female</option>
                                <option class="form-control"  value="T">Transgender</option>
                            </select>
                        </div>
                    </div>
               </div>
               <div class="row my-2">
                    <div class="col-12 col-md-6 col-lg-3">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group input-group-sm"  >
                            <label for="">Age </label>
                            <input type="number" class="form-control" name="userAge"
                            placeholder="Enter Age" required>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group input-group-sm" >
                            <label for=""></label>
                        </div>
                          <div class="form-group input-group input-group-sm">
                            <select class="form-control" >
                                <option class="form-control"  value="Y">Year</option>
                                <option class="form-control"  value="M">Month</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group input-group-sm"  >
                            <label for="">Mobile No </label>
                            <input type="number" class="form-control" name="userAge"
                            placeholder="Enter Age" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group input-group-sm"  >
                            <label for="">Email ID</label>
                            <input type="email" class="form-control" name="userAge"
                            placeholder="Enter Age" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group input-group-sm"  >
                            <label for="">Address</label>
                            <div class="input-group flex-nowrap input-group-sm">
                            <input type="text" class="form-control"   minlength="3"
                            placeholder="Enter Address" required>
                            </div>
                        </div>
                    </div>
               </div>
               
               <div class="row my-2">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group input-group-sm"  >
                        <label for="">City/Village</label>
                        <div class="input-group flex-nowrap input-group-sm">
                        <input type="text" class="form-control"   minlength="3"
                        placeholder="Enter City/Village" required>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group input-group-sm" >
                        <label for="">Ref By </label>
                    </div>
                    <div class="form-group input-group input-group-sm">
                        <select class="form-control" >
                            <option class="form-control"  value="">Select</option>
                            <option class="form-control"  value="Myself">Myself</option>
                            <option class="form-control"  value="Dr. Agrawal">Dr. Agrawal</option>
                        </select>
                    </div>
                </div>
                    
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group input-group-sm"  >
                        <label for="">Remark </label>
                        <input type="text" class="form-control" name="userAge"
                        placeholder="Enter Remark" required>
                    </div>
                </div>
            </div>
            <hr>
            </div>
        
        <div class="container-sm">
            <div class="row my-2">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group input-group-sm" >
                        <label for="">Add Reports</label>
                    </div>
                    <div class="form-group input-group input-group-sm">
                        <select class="form-control" >
                            <option class="form-control"  value="">Select</option>
                            <option class="form-control"  value="Myself">CBC</option>
                            <option class="form-control"  value="Dr. Agrawal">WIDAL</option>
                        </select>
                        <button class="btn btn-secondary btn-sm">add</button>
                    </div>
                    
                </div>
            </div>
            <table class="table table-hover table-sm table-bordered">
                <thead style="color: blue;">
                  <tr style="color: blue;">
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody style="background-color: cadetblue;">
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success btn-sm" (click)= "addPatient()" data-bs-dismiss="modal" aria-label="Close">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Edit Patient Details Modal -->
<div class="modal fade" id="editPatientModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="editPatientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title" id="editPatientModalLabel" style="color: rgb(82, 82, 82); font-weight: bold;"> Add New Patient </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container-sm">
              <div class="row my-2 ">
                  <div class="col-3">
                      <div class="form-group input-group-sm" >
                          <label for="">Title </label>
                      </div>
                      <div class="form-group input-group input-group-sm">
                          <select class="form-control" >
                              <option class="form-control"  value="">Select</option>
                              <option class="form-control"  value="MR.">MR.</option>
                              <option class="form-control"  value="MRS.">MRS.</option>
                              <option class="form-control"  value="MS.">MS.</option>
                              <option class="form-control"  value="DR.">DR.</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class=" form-group input-group-sm" >
                          <label for="">First Name</label>
                          <div class="input-group flex-nowrap input-group-sm">
                              <input type="text" class="form-control"   minlength="3"
                               placeholder="Enter First Name" required>
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="form-group input-group-sm"  >
                          <label for="">Last Name </label>
                          <div class="input-group flex-nowrap input-group-sm">
                          <input type="text" class="form-control"   minlength="3"
                          placeholder="Enter Last Name" required>
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="form-group input-group-sm" >
                          <label for="">Gender </label>
                      </div>
                      <div class="form-group input-group input-group-sm">
                          <select class="form-control" >
                              <option class="form-control"  value="">Select gender</option>
                              <option class="form-control"  value="M">Male</option>
                              <option class="form-control"  value="F">Female</option>
                              <option class="form-control"  value="T">Transgender</option>
                          </select>
                      </div>
                  </div>
             </div>
             <div class="row my-2">
                  <div class="col-3">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group input-group-sm"  >
                          <label for="">Age </label>
                          <input type="number" class="form-control" name="userAge"
                          placeholder="Enter Age" required>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group input-group-sm" >
                          <label for=""></label>
                      </div>
                        <div class="form-group input-group input-group-sm">
                          <select class="form-control" >
                              <option class="form-control"  value="Y">Year</option>
                              <option class="form-control"  value="M">Month</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                      <div class="form-group input-group-sm"  >
                          <label for="">Mobile No </label>
                          <input type="number" class="form-control" name="userAge"
                          placeholder="Enter Age" required>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="form-group input-group-sm"  >
                          <label for="">Email ID</label>
                          <input type="email" class="form-control" name="userAge"
                          placeholder="Enter Age" required>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="form-group input-group-sm"  >
                          <label for="">Address</label>
                          <div class="input-group flex-nowrap input-group-sm">
                          <input type="text" class="form-control"   minlength="3"
                          placeholder="Enter Address" required>
                          </div>
                      </div>
                  </div>
             </div>
             
             <div class="row my-2">
              <div class="col-3">
                  <div class="form-group input-group-sm"  >
                      <label for="">City/Village</label>
                      <div class="input-group flex-nowrap input-group-sm">
                      <input type="text" class="form-control"   minlength="3"
                      placeholder="Enter City/Village" required>
                      </div>
                  </div>
              </div>
              <div class="col-3">
                  <div class="form-group input-group-sm" >
                      <label for="">Ref By </label>
                  </div>
                  <div class="form-group input-group input-group-sm">
                      <select class="form-control" >
                          <option class="form-control"  value="">Select</option>
                          <option class="form-control"  value="Myself">Myself</option>
                          <option class="form-control"  value="Dr. Agrawal">Dr. Agrawal</option>
                      </select>
                  </div>
              </div>
                  
              <div class="col-3">
                  <div class="form-group input-group-sm"  >
                      <label for="">Remark </label>
                      <input type="text" class="form-control" name="userAge"
                      placeholder="Enter Remark" required>
                  </div>
              </div>
          </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn-sm">Save changes</button>
      </div>
    </div>
  </div>
</div>



  