.patientName:hover {
    color: blue;
    cursor: pointer;
}

label {
    font-size: 14px;
}

.modal-body label {
    font-size: 14px;
}

.card {
    border-color: #dfdfdf;
}
.PatientTable {
    height: 68vh;
}

@media screen and (max-height:820px) {
    .PatientTable {
        max-height: 64vh;
    }
}
@media screen and (max-height:680px) {
    .PatientTable {
        max-height: 55vh;
    }
}
@media screen and (max-height:550px) {
    .PatientTable {
        max-height: 50vh;
    }
}

.tableLink {
    color: rgb(0, 110, 255);
    cursor: pointer;
    background-color: rgb(196, 219, 249);
    padding: 2px;
    border-radius: 2px;
    margin-bottom: 0px;
}

.patientStatus {
    color: rgb(229, 145, 0);
    text-decoration: none;
    padding: 2px;
    background-color: rgb(255, 225, 172);
    border-radius: 2px;
    margin-bottom: 0px;
}

label {
    font-size: 13px;
}