<div class="row mx-1 py-2 mx-md-4 mt-4">
    <div class="row pb-2 p-0">
        <h6 class="mb-2 card-title">Patient List</h6>
    </div>
    <div class="row p-0">
        <div class="col-12 col-md-6">
            <button type="button" class="btn btn-secondary btn-sm " data-bs-toggle="modal"
                data-bs-target="#NewPatientModal">
                <i class="fa-solid fa-plus"></i> Add New Patient</button>
            <a class="btn btn-secondary btn-sm ms-sm-4 me-auto" (click)="makePdf()" data-bs-target="#viewPatientsPdf"
                data-bs-toggle="modal" data-bs-dismiss="modal">
                <i class="fa-regular fa-file-pdf"></i> Export to PDF </a>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 ms-auto mt-2 mt-md-0" style="min-width: 100px;">
            <div class="input-group  input-group-sm">
                <input type="text" class="form-control" minlength="3" placeholder="Enter Patient Name" required>
                <button type="button" class="btn btn-secondary btn-sm"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="row mx-1 mx-md-4 mt-2">
        <div class="PatientTable mt-2 p-0 " id="PatientTable" style="overflow-y: auto;">
            <table class="table table-hover p-0">
                <thead id="table-head" style="position: sticky; top: 0; z-index: 1;">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" style="text-align: left;">Patient Details</th>
                        <th scope="col">Added Date</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Mobile NO</th>
                        <th scope="col">modify Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of patientList | paginate: { itemsPerPage: pageSize, currentPage: pageNumber,totalItems: totalCount }; index as i">
                        <td class="align-middle">{{patient.patientId}}</td>
                        <td class="NameColumn align-left" style="text-align: left;" (click)="onClickPateint(patient)">
                            <div class="table-patient-name">{{patient.firstName}} {{patient.lastName}}</div>
                            <div class="text-color-muted" style="font-size: 13px;">{{patient.addressLine}}, {{patient.cityVillage}}, {{patient.district}}, {{patient.state}}</div>
                        </td>
                        <td><span class="text-color-muted">{{patient.addedDate | date: 'dd/MM/yyyy hh:mm a'}}</span></td>
                        <td><span class="text-color-muted">{{patient.gender}}</span></td>
                        <td><span class="text-color-muted">{{patient.mobileNo}}</span></td>
                        <td class="text-color-muted">
                            <span *ngIf="patient.modifiedDate" class="text-color-muted">{{patient.modifiedDate | date: 'dd/MM/yyyy hh:mm a'}}</span>
                            <span *ngIf="!patient.modifiedDate"> - </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-grid gap-2 d-flex justify-content-end mt-2">
            <pagination-controls (pageChange)="changePage($event)" class="pull-right"
                style="font-size: small;"></pagination-controls>
        </div>
</div>




<!-- Report in PDF Model -->
<div class="modal fade" id="viewPatientsPdf" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="viewPatientsPdfLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewPatientsPdfLabel">View Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="row justify-content-center">
                    <embed [src]="safepdfUrl" style="height: 70vh; width: 150vh;" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm">Back</button>
                <button type="button" class="btn btn-primary btn-sm" (click)="printReport()">Print Report</button>
            </div>
        </div>
    </div>
</div>