
.nav-list-item{
    margin-left: 0px;
    padding: 13px;
    padding-left: 20px;
    display: flex;
    height: 40px;
    font-size: 12px; 
}
.nav-list-item i{
    margin-right: 21px;
    font-size: 15px;
    width: 25px;
}

.nav-list-item h6{
    width: 60px;
    font-size: 14px;
    font-weight: 400;
}
.nav-list-item:hover{
    cursor: pointer;
}
/* .select{
    background: linear-gradient(45deg, #ffffff, #ffffff);
    background: linear-gradient(to left, #f4faff 97%, #0d4eaf 3%);
    color: #0041a1;
    cursor: pointer;
} */

