.nav-list-item{
    margin: 0px;
    display: flex;
    height: 35px;
    align-items: center;
    font-size: .875em;
    font-weight: 400;
    border-radius: 4px;
}
.nav-list-item span{
    margin-left: 15px;
    font-size: 20px;
}
.side-nav{
    height: calc(100vh - 3rem);
    padding-top: 20px;
    display: grid;
}

.bottom-option{
    margin-top: auto;
    margin-left: auto;
    margin-right: 0px;
}
.btn-expand-sidenav{
    border: none;
}
.name{
    margin-left: 10px;
}
.list-item-name{
    display: none;
    margin-left: 0px;
    margin-right: 0px;
}

.side-nav-content-collapse{

    .nav-list-item span{
        margin-left: 10px;
        font-size: 20px;
    }
}