

 <div class="side-nav" [ngClass]= "{'side-nav-open': sideNavStatus}" >
    <div>
        <div (click)="clickOnHome()"  >
            <div class="nav-list-item linear-gradient-default"  [ngClass]="{'select':eventObj.navHome}">
                <i class="fa-solid fa-house"></i>
                <div> Home</div>
            </div>
        </div>
        <div (click)="clickOnEntry()"  >
            <div class="nav-list-item linear-gradient-default"  [ngClass]="{'select':eventObj.navEntry}">
                <i class="fa-regular fa-pen-to-square"></i>
                <div>Entry List</div>
            </div>
        </div>
        <div (click)="clickOnPateint()"  >
            <div class="nav-list-item linear-gradient-patient"  [ngClass]="{'select':eventObj.navPatient}">
                <i class="fa-solid fa-user" style="font-size: 15px;" ></i>
                <div>Patient</div>
            </div>
        </div>
        <div (click)="clickOnDashboard()">
            <div class="nav-list-item linear-gradient-default "  [ngClass]="{'select':eventObj.navDashboard}">
                <i class="fa-solid fa-chart-line"></i>
                <div>Dashboard</div>
            </div>
        </div>

        <div (click)="clickOnMaster()" >
            <div class="nav-list-item linear-gradient-default" [ngClass]="{'select':eventObj.navMaster}">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <div >Master</div>
            </div>
        </div>

        <div (click)="clickOnSetting()">
            <div class="nav-list-item linear-gradient-setting" [ngClass]="{'select':eventObj.navSetting}">
                <i class="fa-solid fa-gear" style="font-size: 16px;" ></i>
                <div >Setting</div>
            </div>
        </div>

        <div (click)="clickOnAbout()">
            <div class="nav-list-item linear-gradient-info" [ngClass]="{'select':eventObj.navAbout}">
                <i class="fa-solid fa-circle-info" style="font-size: 16px;"  ></i>
                <div >About</div>
            </div>
        </div>

        <div (click)="clickOnContact()">
            <div class="nav-list-item linear-gradient-default" [ngClass]="{'select':eventObj.navContact}">
                <i class="fa-solid fa-phone" ></i>
                <div >Contact</div>
            </div>
        </div>
    </div>
 </div>