.nav-list-item{
    padding-left: 18px;
    display: flex;
    height: 38px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    transition: 0.3s;
    transition: width 250ms ease-in,left 250ms ease-in;
}
.nav-list-item i{
    padding: 2px;
    margin-right: 16px;
    font-size: 14px;
    width: 25px;
    justify-content: center;
    transition: 0.3s;
}

.side-nav{
    margin-top: 20px;
    padding-bottom: 10px;
}