

 <div class="side-nav" [ngClass]= "{'side-nav-open': sideNavStatus}" >
    <div>
        <a (click)="clickOnHome()" style="text-decoration:none" >
            <div class="nav-list-item"  style="text-decoration:none" [ngClass]="{'select':eventObj.navHome}">
                <i class="fa-solid fa-house" ></i>
                <!-- <img [src]="patientIcon"> -->
                <h6>Home</h6>
            </div>
        </a>
        <a (click)="clickOnPateint()" style="text-decoration:none" >
            <div class="nav-list-item"  style="text-decoration:none" [ngClass]="{'select':eventObj.navPatient}">
                <i class="fa-solid fa-user" ></i>
                <!-- <img [src]="patientIcon"> -->
                <h6>Patient</h6>
            </div>
        </a>
        <a (click)="clickOnDashboard()" style="text-decoration:none" >
            <div class="nav-list-item"  style="text-decoration:none" [ngClass]="{'select':eventObj.navDashboard}">
                <i class="fa-solid fa-chart-line"></i>
                <!-- <img [src]="patientIcon"> -->
                <h6>Dashboard</h6>
            </div>
        </a>

        <a (click)="clickOnMaster()" style="text-decoration:none" >
            <div class="nav-list-item"  style="text-decoration:none" [ngClass]="{'select':eventObj.navMaster}">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <!-- <img [src]="masterIcon"> -->
                <h6 >Master</h6>
            </div>
        </a>

        <a (click)="clickOnSetting()" style="text-decoration:none">
            <div class="nav-list-item"  style="text-decoration:none" [ngClass]="{'select':eventObj.navSetting}">
                <i class="fa-solid fa-gear" ></i>
                <!-- <img [src]="settingIcon"> -->
                <h6 >Setting</h6>
            </div>
        </a>

        <a (click)="clickOnAbout()"  style="text-decoration:none">
            <div class="nav-list-item"  style="text-decoration:none" [ngClass]="{'select':eventObj.navAbout}">
                <i class="fa-solid fa-circle-info" ></i>
                <!-- <img [src]="infoIcon"> -->
                <h6 >About</h6>
            </div>
        </a>

        <a (click)="clickOnContact()"  style="text-decoration:none">
            <div class="nav-list-item"  style="text-decoration:none" [ngClass]="{'select':eventObj.navContact}">
                <i class="fa-solid fa-phone" ></i>
                <!-- <img [src]="contactIcon"> -->
                <h6 >Contact</h6>
            </div>
        </a>
    </div>
 </div>