<div class="row ms-2 mt-4">
    <h5 class="card-title mt-2">Welcome Back</h5>
    <p class="card-text mt-2" style="font-size: 14px;">Clinical Laboratory Management System</p>
</div>
<div class="work-div ms-4 mt-4">
  <h5>
    Your Work
  </h5>
  <div class="row work-card-div">
    <div class="card option-card ">
      <div class="card-body" (click)="clickOnEntryCard()">
        <h6 class="card-title"><i class="fa-regular fa-pen-to-square me-2"></i> Entry Update</h6>
        <p class="card-text">With supporting below Button lead-in to Dashboard content.</p>
        <p class="card-text">New Entry </p>
        <p class="card-text">Completed Entry </p>
        <p class="card-text">Pending Entry </p>
      </div>
    </div>

    <div class="card option-card ">
      <div class="card-body" (click)="clickOnDashboard()">
        <h6 class="card-title"><i class="fa-solid fa-chart-line me-2"></i> Dashboard</h6>
        <p class="card-text">With supporting below Button lead-in to Dashboard content.</p>
        <p class="card-text">New Entry </p>
        <p class="card-text">Completed Entry </p>
        <p class="card-text">Pending Entry </p>
      </div>
    </div>

    <div class="card option-card ">
      <div class="card-body" (click)="clickOnMaster()">
        <h6 class="card-title"><i class="fa-solid fa-screwdriver-wrench me-2"></i>  Masters Management Activity</h6>
        <p class="card-text">With supporting below Button lead-in to Dashboard content.</p>
        <p class="card-text">New Doctors Changes </p>
        <p class="card-text">New Test Changes </p>
      </div>
    </div>
  </div>

</div>
