<div class="row ms-2 mt-4">
    <h5 class="card-title mt-2">Welcome Back</h5>
    <p class="card-text mt-2" style="font-size: 14px;">Clinical Laboratory Management System</p>
</div>
<div class="work-div ms-4 mt-4">
  <div class="row work-card-div">
    <div class="card">
      <div class="card-body" (click)="clickOnEntryCard()">
        <div class="linear-gradient-default card-icon ms-2" style="display:block; width: auto;"><i class="fa-regular fa-pen-to-square me-2"></i> </div>
        <div style="display: inline-block; width: auto;">
          <div class="mt-3" style="font-size: 14px;">Entry Update</div>
          <p class="card-text">With supporting below Button lead-in to Dashboard content.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body" (click)="clickOnDashboard()">
        <div class="linear-gradient-default card-icon ms-2"><i class="fa-solid fa-chart-line me-2"></i> </div>
        <div class="mt-3" style="font-size: 14px;">Dashboard</div>
        <p class="card-text">With supporting below Button lead-in to Dashboard content.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body" (click)="clickOnMaster()">
        <div class="linear-gradient-default card-icon ms-2"><i class="fa-solid fa-screwdriver-wrench me-2"></i></div>
        <div class="mt-3" style="font-size: 14px;">Masters Management Activity</div>
        <p class="card-text">With supporting below Button lead-in to Dashboard content.</p>
      </div>
    </div>
  </div>

</div>
