<div class="row mx-md-3 mt-3 mx-2">
    <h5 class="page-title mt-2">Home</h5>
    <p class="card-text mt-2">Clinical Laboratory Management System</p>
</div>
<div class="row home-page mx-2">
  <div class="col-md-8 col-sm-12 mt-4">
    <div class="card">
      <div class="card-body" (click)="clickOnEntryCard()">
        <div class="d-grid gap-2 d-flex justify-content-between" style="vertical-align: middle;">
            <div class="container-fluid justify-content-center" style="vertical-align: middle;">
              <div class="d-grid gap-2 d-flex" style="vertical-align: middle;">
                <div class="mt-1 me-2 text-muted" style="justify-self: center;">
                  <span class="material-symbols-outlined">table_edit</span>
                </div>
                <div>
                  <div class="card-name">Entry Management</div>
                  <p class="card-text">Add new Entry and manage test with this page.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-body" (click)="clickOnDashboard()">
        <div class="d-grid gap-2 d-flex justify-content-between" style="vertical-align: middle;">
            <div class="container-fluid justify-content-center" style="vertical-align: middle;">
              <div class="d-grid gap-2 d-flex" style="vertical-align: middle;">
                <div class="mt-1 me-2 text-muted" style="justify-self: center;">
                  <span class="material-symbols-outlined text-muted">bar_chart_4_bars</span>
                </div>
                <div>
                  <div class="card-name">Dashboard</div>
                  <p class="card-text">This page contains graphical interface of all activity of you lab</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-body" (click)="clickOnMaster()">
        <div class="d-grid gap-2 d-flex justify-content-between" style="vertical-align: middle;">
            <div class="container-fluid justify-content-center" style="vertical-align: middle;">
              <div class="d-grid gap-2 d-flex" style="vertical-align: middle;">
                <div class="mt-1 me-2 text-muted" style="justify-self: center;">
                  <span class="material-symbols-outlined">handyman</span>
                </div>
                <div>
                  <div class="card-name">Master Maintenance</div>
                  <p class="card-text">With supporting below Button lead-in to Dashboard content.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-2 mt-md-0">
      <div class="card" style="width: auto">
        <div class="card-body">
          <div class="card-title">
          New Updates
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="mt-2">
                    New Changes
                </div>
                <div class="card-body text-muted">
                  Master maintains chages added sdsdcsac asc a ascsacsac asc asc asascsac
                </div>
            </li>
            <li class="list-group-item">
                <div class="mt-2">
                    New Changes
                </div>
                <div class="card-body text-muted">
                  Master maintains chages added sdsdcsac asc a ascsacsac asc asc asascsac
                </div>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
