

.patientName:hover {
    color: blue;
    cursor: pointer;
}

label {
    font-size: 14px;
}

.modal-body label {
    font-size: 14px;
}

.card {
    border-color: #e4e4e4;
}

.PatientTable {
    height: 68vh;
}

@media screen and (max-height:820px) {
    .PatientTable {
        max-height: 64vh;
    }
}
@media screen and (max-height:680px) {
    .PatientTable {
        max-height: 55vh;
    }
}
@media screen and (max-height:550px) {
    .PatientTable {
        max-height: 50vh;
    }
}

.bg-c-green {
    background: linear-gradient(45deg, #19cfab, #85e7d4);
}

.bg-c-blue {
    background: linear-gradient(45deg, #4d9df9, #93c6ff);
}


.tableLink {
    color: rgb(0, 110, 255);
    cursor: pointer;
    background-color: rgb(196, 219, 249);
    padding: 2px;
    border-radius: 2px;
    margin-bottom: 0px;
}

.patientStatusCompleted {
    color: rgb(22, 207, 105);
    text-decoration: none;
    padding: 2px;
    background-color: rgba(130, 255, 222, 0.241);
    border-radius: 2px;
    margin-bottom: 0px;
}

.patientStatusPending {
    color: rgb(255, 162, 0);
    text-decoration: none;
    padding: 2px;
    background-color: rgba(255, 209, 130, 0.24);
    border-radius: 2px;
    margin-bottom: 0px;
}

label {
    font-size: 13px;
}