<div class="row mainHeader row mx-1 p-1 py-2 p-md-4 mt-2 ">
    <div class="row header-card pb-2">
        <h6 class="linear-gradient-default mb-2 card-title"><i class="fa-regular fa-pen-to-square"></i> 
            &nbsp;&nbsp;Entry Management</h6>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-8 justify-content-between">
            <button type="button" class="btn btn-primary btn-sm active" data-bs-toggle="modal"
                data-bs-target="#entryModal">
                <i class="fa-solid fa-plus"></i> New Entry</button>
            <button type="button" class="btn btn-secondary btn-sm  ms-sm-4" data-bs-toggle="modal"
                data-bs-target="#NewPatientModal">
                <i class="fa-solid fa-plus"></i> Add New Patient</button>
            <a class="btn btn-secondary btn-sm ms-sm-4 " (click)="makePdf()" data-bs-target="#viewPatientsPdf"
                data-bs-toggle="modal" data-bs-dismiss="modal">
                <i class="fa-regular fa-file-pdf"></i> Export to PDF </a>
        </div>
        <div class="col-12 col-md-4 col-lg-4 ms-auto mt-2 mt-md-0" style="min-width: 100px;">
            <div class="input-group  input-group-sm">
                <input type="text" class="form-control" minlength="3" placeholder="Enter Patient Name" required>
                <button type="button" class="btn btn-secondary btn-sm"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="row mx-2 mt-4">
    <div class="patientTableDiv mt-2 ">
        <div class="PatientTable" style="overflow-y: auto;">
            <table class="table table-borderless table-hover">
                <thead style="position: sticky; top: 0; z-index: 1;">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Mobile NO</th>
                        <th scope="col">Added Date</th>
                        <th scope="col">modified Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of patienEntrytList | paginate: { itemsPerPage: 9, currentPage: p }; index as i">
                        <td>{{entry.patientId}}</td>
                        <td class="patientName" (click)="onClickPateint(entry)">{{entry.patient.firstName}} {{entry.patient.lastName}}</td>
                        <td>
                            <p class="patientStatus shadow-sm">{{entry.status}}</p>
                        </td>
                        <td>{{entry.patient.gender}}</td>
                        <td>{{entry.patient.mobileNo}}</td>
                        <td>{{entry.patient.addedDate}}</td>
                        <td>{{entry.patient.modifiedDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-grid gap-2 d-flex justify-content-end">
            <pagination-controls (pageChange)="p = $event" class="pull-right"
                style="font-size: small;"></pagination-controls>
        </div>
    </div>

</div>


<app-entry-modal></app-entry-modal>

<!-- Report in PDF Model -->
<div class="modal fade" id="viewPatientsPdf" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="viewPatientsPdfLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewPatientsPdfLabel">View Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="row justify-content-center">
                    <embed [src]="safepdfUrl" style="height: 70vh; width: 150vh;" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm">Back</button>
                <button type="button" class="btn btn-primary btn-sm" (click)="printReport()">Print Report</button>
            </div>
        </div>
    </div>
</div>