<div class="row py-2 p-md-4 mt-2 ">
    <div class="pb-2">
        <h6 class="mb-2 card-title"> Entry List</h6>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 justify-content-between">
            <button type="button" class="btn btn-primary btn-sm active" data-bs-toggle="modal"
                data-bs-target="#entryModal">
                <i class="fa-solid fa-plus"></i> New Entry</button>
            <a class="btn btn-secondary btn-sm ms-sm-4 " (click)="makePdf()" data-bs-target="#viewPatientsPdf"
                data-bs-toggle="modal" data-bs-dismiss="modal">
                <i class="fa-regular fa-file-pdf"></i> Export to PDF </a>
        </div>
        <div class="col-12 col-md-4 col-lg-4 ms-auto mt-2 mt-md-0" style="min-width: 100px;">
            <div class="input-group  input-group-sm">
                <input type="text" class="form-control" minlength="3" placeholder="Enter Patient Name" required>
                <button type="button" class="btn btn-secondary btn-sm"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="row mx-1 mx-md-4 mt-2">
        <div class="PatientTable p-0" style="overflow-y: auto;">
            <table class="table table-hover">
                <thead style="position: sticky; top: 0; z-index: 1;">
                    <tr>
                        <th scope="col">EID</th>
                        <th scope="col" style="text-align: left;">Patient Details</th>
                        <th scope="col">Status</th>
                        <th scope="col">Refer By</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Mobile NO</th>
                        <th scope="col">Added Date</th>
                        <th scope="col">Modified Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of patienEntrytList | paginate: { itemsPerPage: 9, currentPage: p }; index as i">
                        <td>{{entry.entryId}}</td>
                        <td class="patientName" style="text-align: left;" (click)="onClickPateint(entry)">
                            <div class="table-patient-name">{{entry.patient.firstName}} {{entry.patient.lastName}}</div>
                            <div class="text-color-muted" style="font-size: 13px;">{{entry.patient.addressLine}}, 
                                {{entry.patient.cityVillage}}, {{entry.patient.district}}, {{entry.patient.state}}
                            </div>
                        </td>
                        <td>
                            <p *ngIf="entry.status === 'Pending'" class="patientStatusPending">{{entry.status}}</p>
                            <p *ngIf="entry.status === 'Completed'" class="patientStatusCompleted">{{entry.status}}</p>
                        </td>
                        <td><span class="text-color-muted">{{entry.doctor.title}} {{entry.doctor.firstName}} {{entry.doctor.lastName}}</span></td>
                        <td><span class="text-color-muted">{{entry.patient.gender}}</span></td>
                        <td><span class="text-color-muted">{{entry.patient.mobileNo}}</span></td>
                        <td><span class="text-color-muted">{{entry.addedDate | date: 'dd/MM/yyyy hh:mm a'}}</span></td>
                        <td>
                            <span *ngIf="entry.modifiedDate" class="text-color-muted">{{entry.modifiedDate | date: 'dd/MM/yyyy hh:mm a'}}</span>
                            <span *ngIf="!entry.modifiedDate"> - </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-grid gap-2 d-flex justify-content-end">
            <pagination-controls (pageChange)="p = $event" class="pull-right"
                style="font-size: small;"></pagination-controls>
        </div>
</div>


<app-entry-modal></app-entry-modal>

<!-- Report in PDF Model -->
<div class="modal fade" id="viewPatientsPdf" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="viewPatientsPdfLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewPatientsPdfLabel">View Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="row justify-content-center">
                    <embed [src]="safepdfUrl" style="height: 70vh; width: 150vh;" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm">Back</button>
                <button type="button" class="btn btn-primary btn-sm" (click)="printReport()">Print Report</button>
            </div>
        </div>
    </div>
</div>