

.patientName:hover {
    color: blue;
    cursor: pointer;
}

label {
    font-size: 14px;
}

.modal-body label {
    font-size: 14px;
}

.card {
    border-color: #e4e4e4;
}

/* @media screen and (max-height:900px) {
    .PatientTable {
        height: 350px;
    }
}

@media screen and (max-height:720px) {
    .PatientTable {
        max-height: 350px;
    }
} */


.bg-c-green {
    background: linear-gradient(45deg, #19cfab, #85e7d4);
}

.bg-c-blue {
    background: linear-gradient(45deg, #4d9df9, #93c6ff);
}


.tableLink {
    color: rgb(0, 110, 255);
    cursor: pointer;
    background-color: rgb(196, 219, 249);
    padding: 2px;
    border-radius: 2px;
    margin-bottom: 0px;
}

.patientStatus {
    color: rgb(229, 145, 0);
    text-decoration: none;
    padding: 2px;
    background-color: rgb(255, 225, 172);
    border-radius: 2px;
    margin-bottom: 0px;
}

label {
    font-size: 13px;
}