.labLogoBox{
    height: 25vh;
    width: 25vh;
    border-radius: 4px;
}
.labLogo{
    max-height: 25vh;
    width: auto; 

}
.main-content{
    max-width: 40rem;
    border-radius: 6px;
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.314);
}
.form-group label{
    font-size: 14px;
}
.labCard{
    border: none;
    border-radius: 3px;
    box-shadow: var(--ds-shadow-raised, 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31));
    h5{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }
}
.labCard:hover{
    box-shadow: 0px 5px 7px rgba(153, 153, 153, 0.322);
    h5{
        color: blue;
    }
}
.desable-css{
    color: rgb(144, 144, 144);
}
.desable-css-image{
    opacity: 0.5;
}