<div>
  <div class="row mx-md-3 mt-4 mx-2">
        <h5 class="page-title">Masters Maintenance </h5>
        <p class="card-text" style="font-size: 13px;">Here you can manage Docters, Reports Details, Lab Details etc.
        </p>
  </div>
  <div class="row mt-2 mx-md-3 mx-2">

    <div class="row work-card-div">
      <div class="card option-card ">
        <div class="card-body" (click)="goToDocter()">
          <h6 class="card-title"> Docters Management</h6>
          <p class="card-text">Here you can manage Docters and Hospital details.</p>
          <p class="card-text">Recently disabled  </p>
        </div>
      </div>
  
      <div class="card option-card ">
        <div class="card-body" (click)="goToReport()">
          <h6 class="card-title">Reports Management</h6>
          <p class="card-text">Here you can manage lab Reports and Cost details.</p>
          <p class="card-text">Completed Entry </p>
        </div>
      </div>
  
      <div class="card option-card ">
        <div class="card-body" (click)="goToLab()">
          <h6 class="card-title">Lab Management</h6>
          <p class="card-text">Here you can manage Lab details.</p>
          <p class="card-text">New Test Changes </p>
        </div>
      </div>

      <div class="card option-card ">
        <div class="card-body" (click)="goToUserManagement()">
          <h6 class="card-title">User Management</h6>
          <p class="card-text">Here you can manage Users details.</p>
          <p class="card-text">New Test Changes </p>
        </div>
      </div>
    </div>

  </div>

</div>