<div>
  <div class="row mx-1 mx-md-4   ">
    <div class="card mt-2 py-2 header-card" style="border: none;">
      <div class="card-body">
        <h6 class="card-title linear-gradient-default"><i class="fa-solid fa-screwdriver-wrench me-2"  style="font-size: 20px; padding: 2px;"></i> Masters Maintenance </h6>
        <p class="card-text" style="font-size: 13px;">Here you can manage Docters, Reports Details, Lab Details etc.
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-2 mx-1 mx-md-4  ">

    <div class="card  option-card ">
      <div class="card-body" (click)="goToDocter()">
        <h6 class="card-title linear-gradient-doctor"> <i class="fa-solid fa-user-doctor me-2" style="font-size: 20px; padding: 2px;"></i> Docters Management</h6>
        <p class="card-text">Here you can manage Docters and Hospital details</p>
      </div>
    </div>


    <div class="card option-card  ">
      <div class="card-body " (click)="goToReport()">
        <h6 class="card-title linear-gradient-default"> <i class="fa-regular fa-pen-to-square me-2"  style="font-size: 20px; padding: 2px;"></i> Reports Management</h6>
        <p class="card-text">Here you can manage lab Reports and Cost details</p>
      </div>
    </div>


    <div class="card option-card ">
      <div class="card-body" (click)="goToLab()">
        <h6 class="card-title linear-gradient-default"><i class="fa-solid fa-microscope navbar-brand me-2" style="font-size: 20px; padding: 2px;"></i> Lab Management</h6>
        <p class="card-text">Here you can manage Lab details</p>
      </div>
    </div>

    <div class="card option-card ">
      <div class="card-body" (click)="goToUserManagement()">
        <h6 class="card-title linear-gradient-default"><i class="fa-solid fa-user me-2" style="font-size: 20px; padding: 2px;"></i> User Management</h6>
        <p class="card-text">Here you can manage Users details</p>
      </div>
    </div>

  </div>

</div>