.header-card{
    border: none;
}
.card-title{
    font-weight: bold;
    color: rgb(82, 82, 82);
}

.patientTableDiv{
    background-color:  rgb(255, 255, 255);
    border-radius: 7px;
}
table{
    font-size: small;
    text-align: center;
}
.patientName:hover{
    color: blue;
    cursor: pointer;
}
.modal-title{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color:rgb(82, 82, 82) ;
}

.modal-body label{
  font-size: 14px;
}

.reports-modalbody {
  height: 85.5vh;
  overflow-y: auto;
}

.report-data-field{
  height: 56vh;
  overflow-y: auto;
}

.report-table-head th{
  border: 1px solid black;
  border-collapse: collapse;

}

.pdfContent{
  width: 595px;
  height: 842px;
}

.textContentDiv div{
  margin-bottom: 0px;
  font-size: 10px;
  color: black;
  font-family: Arial;
}

.customCard{
  border: 1px solid black; 
  border-collapse: collapse; 
  font-size: 11PX; 
  padding-left: 12px; padding-right: 12px;
  margin: 12px;
}
.customCard-name1{
  width: 90px;
  display: inline-block;
}
.customCard-name{
  width: 100px;
  display: inline-block;
}
.customCard-value1{
  width: 180px;
  display: inline-block;
  }

.customCard-value{
width: 170px;
display: inline-block;
}

 
.text-right {
  text-align: right; }



  
  
  .bg-c-blue {
      background: linear-gradient(45deg, #4d9df9, #93c6ff); }
    
    .text-c-blue {
      color: #4099ff; }
    
    .bg-c-pink {
      background: linear-gradient(45deg, #ff4161, #ffb1be); }
    
    .text-c-pink {
      color: #FF5370; }
    
    .bg-c-green {
      background: linear-gradient(45deg, #19cfab, #7be7d2); }
    
    .text-c-green {
      color: #2ed8b6; }
    
    .bg-c-yellow {
      background: linear-gradient(45deg, #ffae3d, #ffcb80); }
    
    .text-c-yellow {
      color: #b96c00; }
    
    .bg-c-orenge {
      background: linear-gradient(45deg, #ff7060, #feb8b0); }
    
    .text-c-orenge {
      color: #FE8A7D; }
    
    .bg-c-lite-green {
      background: linear-gradient(45deg, #3cc5ba, #8fdbd5); }
    
    .text-c-lite-green {
      color: #69CEC6; }
  

      .Masters-Card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
                box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
        border: none;
        margin-bottom: 30px;
        overflow: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    
        .Masters-Card:hover {
          box-shadow: 0px 0px 30px rgb(167, 166, 166); }


    