<div *ngIf = "masterPageObj.masterPageShow">
    <div class="row mx-2  " >
        <div class="card mt-2 py-2 header-card" style="border: none;">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold; color: rgb(80, 80, 80);"><i class="fa-solid fa-screwdriver-wrench me-2"></i> Masters Maintenance  </h5>
              <p class="card-text" style="font-size: 13px; color: black;">Here you can manage Docters, Reports Details, Lab Details etc. </p>
            </div>
          </div>
    </div>
    <div class="row mt-2 m-2 ">
      
            <div class="card  option-card" >
                <div class="card-body" (click) = "goToDocter()">
                  <h6 class="card-title"> <i class="fa-solid fa-user-doctor me-2"></i> Docters Management</h6>
                  <p class="card-text">Here you can manage Docters and Hospital details</p>
                  <!-- <a  class="btn btn-sm  btn-primary " (click) = "goToDocter()">Go To Docters Management</a> -->
                </div>
              </div>
        
       
            <div class="card option-card " >
                <div class="card-body " (click) = "goToReport()">
                  <h6 class="card-title"> <i class="fa-regular fa-pen-to-square me-2"></i> Reports Management</h6>
                  <p class="card-text">Here you can manage lab Reports and Cost details</p>
                  <!-- <a  class="btn btn-sm btn-primary" (click) = "goToReport()">Go To Reports Management</a> -->
                </div>
              </div>
       
       
            <div class="card option-card " >
                <div class="card-body" (click) = "goToLab()">
                  <h6 class="card-title"><i class="fa-solid fa-microscope navbar-brand me-2"></i> Lab Management</h6>
                  <p class="card-text">Here you can manage Lab name, address etc details</p>
                  <!-- <a  class="btn btn-sm  btn-primary" (click) = "goToLab()">Go To Lab Management</a> -->
                </div>
              </div>
        
    </div>
    
</div>

<!-- Docter Management -->
<div *ngIf = "masterPageObj.docterManagement">
   <app-master-docter-management  (masterPageObjEmmitter)= "masterPageObj=$event" ></app-master-docter-management>
</div>

<!-- Reports Management -->
<div *ngIf = "masterPageObj.reportManagement">

    <div class="row mx-2  ">
        <div class="card mt-2 py-2" style="border: none;">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold; color: rgb(82, 82, 82);">Reports Management </h5>
              <p class="card-text" style="font-size: 13px; color: black;">Here you can manage Reports Details </p>
              <a  class="btn btn-secondary btn-sm " (click) = "clickonBack()" ><i class="fa-regular fa-square-caret-left"></i> Go Back</a>
              <a  class="btn btn-secondary btn-sm ms-md-4" data-bs-toggle="modal" data-bs-target="#addTestModal"><i class="fa-solid fa-plus"></i> Add New Report</a>
              <a  class="btn btn-secondary btn-sm ms-md-4" ><i class="fa-regular fa-file-pdf"></i> Export As PDF</a>
            </div>
          </div>
    </div>

    <div class="row mx-4 mt-4">
        <div class="patientTableDiv pt-2 shadow-sm">
            <div class="row mx-2 py-2">
                <div class="col-6">
                    <h6 style="font-weight: bold;">Test List</h6>
                </div>
                <div class="col-6 ">
                    <div class="form-group " >
                        <div class="input-group justify-content-md-end">
                            <input type="text" class="form-control-sm"  placeholder="Enter Test Name" >
                            <button class="btn btn-secondary btn-sm" type="button" > Search</button>
                        </div>
                     </div>
                </div>
            </div>
            <div class="PatientTable">
                <table class="table table-hover table-sm table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Sr. No</th>
                            <th scope="col">Test Name</th>
                            <th scope="col">Test Code</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Department</th>
                            <th scope="col">Creation Date</th>
                            <th scope="col">Modified Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let test of allTestList | paginate: { itemsPerPage: 9, currentPage: p }; index as i">
                            <th scope="row">{{i}}</th>
                            <td class="patientName">{{test.test_name}}</td>
                            <td>{{test.test_code}}</td>
                            <td>{{test.gender}}</td>
                            <td>{{test.department}}</td>
                            <td>{{test.creation_date}}</td>
                            <td>{{test.modified_date}}</td>
                            <td><a style="color: green;">edit test</a> | <a style="color: blue;">print</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <pagination-controls (pageChange)="p = $event" class="pull-right" style="font-size: small;"></pagination-controls>
            </div>
        </div>
    </div>

</div>

<!-- Lab Details Management -->
<div *ngIf = "masterPageObj.labManagement">
    <app-master-lab-management (masterPageObjEmmitter)= "masterPageObj=$event"></app-master-lab-management>
</div>


<!-- Add New Report Modal -->

<div class="modal fade" id="addTestModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="addTestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
      <div class="modal-content">
        <div class="modal-header ">
          <h5 class="modal-title" id="addTestModalLabel">Add New Test</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body reports-modalbody mb-0 pb-0 ">
            <div class="container-fluid m-0 p-0">
                <div class="row my-2 justify-content-center">
                    <div class="col-3">
                        <div class="form-group input-group-sm" >
                            <label for="">Department </label>
                        </div>
                        <div class="form-group input-group input-group-sm">
                            <select class="form-control" [(ngModel)]="department">
                                <option class="form-control"  value="">Select Department</option>
                                <option class="form-control"  value="HAEMATOLOGY">HAEMATOLOGY</option>
                                <option class="form-control"  value="RADIOLOGY">RADIOLOGY</option>
                                <option class="form-control"  value="HISTOPATHOLOGY">HISTOPATHOLOGY</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group input-group-sm"  >
                            <label for="">Test Name </label>
                            <div class="input-group flex-nowrap input-group-sm">
                            <input type="text" class="form-control"   minlength="3" [(ngModel)]="test_name"
                            placeholder="Enter Test Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group input-group-sm" >
                            <label for="">Gender </label>
                        </div>
                        <div class="form-group input-group input-group-sm">
                            <select class="form-control" [(ngModel)]="test_gender">
                                <option class="form-control"  value="">select</option>
                                <option class="form-control"  value="M">Male</option>
                                <option class="form-control"  value="F">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group input-group-sm"  >
                        <label for="">Test Code </label>
                        <input type="text" class="form-control" [(ngModel)]="test_code"
                        placeholder="Enter Test Code" required>
                        </div>
                    </div>
               </div>
               <div class="row my-2 justify-content-center">
                    <div class="col-3">
                        <div class="form-group input-group-sm"  >
                            <label for="">Test Cost </label>
                            <input type="number" class="form-control" name="userAge" [(ngModel)]="test_cost"
                            placeholder="Enter Cost" required>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group input-group-sm" >
                            <label for="">Sample Type </label>
                        </div>
                        <div class="form-group input-group input-group-sm">
                            <select class="form-control" [(ngModel)]="sample_type">
                                <option class="form-control"  value="">Null</option>
                                <option class="form-control"  value="Serum">Serum</option>
                                <option class="form-control"  value="Heparinised Blood">Heparinised Blood</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group input-group-sm" >
                            <label for="">Test Type </label>
                        </div>
                        <div class="form-group input-group input-group-sm">
                            <select class="form-control" [(ngModel)]="test_type">
                                <option class="form-control"  value="">select test type</option>
                                <option class="form-control"  value="Table">Table</option>
                                <option class="form-control"  value="Text">Text</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group input-group-sm"  >
                            <label for="">Remark </label>
                            <input type="text" class="form-control" name="userAge" [(ngModel)]="test_remark"
                            placeholder="Enter Remark" required>
                        </div>
                    </div>
               </div>
             
               <!-- Reports details start -->
               <div class="row mt-4 justify-content-center">
                    <div class="col-4 report-data-field">
                        <div class="col-12">
                            <div class="form-group input-group-sm" >
                                <label for="">Type </label>
                            </div>
                            <div class="form-group input-group input-group-sm">
                                <select class="form-control"  [(ngModel)]="field_type" [disabled]="modifyRow">
                                    <option *ngIf = "test_type=='Table'" class="form-control"  value="Single Field">Single Field</option>
                                    <option *ngIf = "test_type=='Table'" class="form-control"  value="Title Field">Title Field</option>
                                    <option *ngIf = "test_type=='Table'" class="form-control"  value="Sub Field">Sub Field</option>
                                    <option *ngIf = "test_type=='Text'" class="form-control"  value="Text Editor">Text Editor</option>
                                </select>
                            </div>
                        </div>
                        <div  *ngIf = "(field_type=='Single Field' || field_type=='Sub Field') && test_type=='Table'">
                            <div *ngIf = "field_type=='Sub Field';">
                                <div class="col-12">
                                    <div class="form-group input-group-sm" >
                                        <label for="">Title Field</label>
                                    </div>
                                    <div class="form-group input-group input-group-sm">
                                        <select class="form-control" [(ngModel)]="title_field_of_subfield" [disabled]="modifyRow">
                                            <option class="form-control"  value="">select</option>
                                            <option class="form-control" *ngFor="let item of title_field_list" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group input-group-sm"  >
                                    <label for="">Name </label>
                                    <input type="text" class="form-control" name="userAge" [(ngModel)]="field_name"
                                    placeholder="Enter Name" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group input-group-sm" >
                                    <label for="">Data Type</label>
                                </div>
                                <div class="form-group input-group input-group-sm">
                                    <select class="form-control" [(ngModel)]="data_type">
                                        <option class="form-control"  value="text">text</option>
                                        <option class="form-control"  value="numeric">numeric</option>
                                        <option class="form-control"  value="numeric unbound">numeric unbound</option>
                                        <option class="form-control"  value="multiple ranges">multiple ranges</option>
                                        <option class="form-control"  value="custom">custom</option>
                                    </select>
                                </div>
                            </div>

                            <!-- numeric Fiels start -->
                            <div *ngIf="data_type=='numeric';">
                                <div class="col-12">
                                    <div class="form-group input-group-sm"  >
                                        <label for="">Unit </label>
                                        <input type="text" class="form-control" name="userAge" [(ngModel)]="unit"
                                        placeholder="Enter Unit" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group input-group-sm"  >
                                                <label for="">Range </label>
                                                <input type="number" class="form-control" name="Minimum" [(ngModel)]="range"
                                                placeholder="Minimum" required>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group input-group-sm"  >
                                                <label for="">To </label>
                                                <input type="number" class="form-control" name="Maximum" [(ngModel)]="range_to"
                                                placeholder="Maximum" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- numeric Fiels End -->
                            <!-- text Fiels start -->
                            <div *ngIf="(data_type=='text' || data_type=='multiple ranges');">
                                <div class="col-12">
                                    <div class="form-group input-group-sm"  >
                                        <label for="">Unit </label>
                                        <input type="text" class="form-control" name="userAge"  [(ngModel)]="unit"
                                        placeholder="Enter Unit" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group input-group-sm"  >
                                        <label for="">Range </label>  
                                        <textarea class="form-control" rows="2" placeholder="enter range" [(ngModel)]="range"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- text Fiels end -->

                            <!-- numeric unbound Fiels start -->
                            <div *ngIf="data_type=='numeric unbound';">
                                <div class="col-12">
                                    <div class="form-group input-group-sm"  >
                                        <label for="">Unit </label>
                                        <input type="text" class="form-control" name="userAge" [(ngModel)]="unit"
                                        placeholder="Enter Unit" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group input-group-sm" >
                                                <label for="">Select Operation </label>
                                            </div>
                                            <div class="form-group input-group input-group-sm">
                                                <select class="form-control" [(ngModel)]="opertaion">
                                                    <option class="form-control"  value="">select operation</option>
                                                    <option class="form-control"  value="less than equal to">less than equal to</option>
                                                    <option class="form-control"  value="less than">less than</option>
                                                    <option class="form-control"  value="greater than equal to">greater than equal to</option>
                                                    <option class="form-control"  value="greater than">greater than</option>
                                                    <option class="form-control"  value="equal to">equal to</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group input-group-sm"  >
                                                <label for="">Value </label>
                                                <input type="number" class="form-control" name="Maximum"  [(ngModel)]="operation_value"
                                                placeholder="enter value" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- numeric unbound Fiels End -->



                            <!-- custom Fiels start -->
                            <div *ngIf="data_type=='custom';">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group input-group-sm" >
                                                <label for="">Select Options </label>
                                            </div>
                                            <div class="form-group input-group input-group-sm">
                                                <select class="form-control" #selectOptions>
                                                    <option class="form-control"  value="">select options</option>
                                                    <option class="form-control"  value="Positive">Positive</option>
                                                    <option class="form-control"  value="Negative">Negative</option>
                                                    <option class="form-control"  value="Absent">Absent</option>
                                                    <option class="form-control"  value="Present">Present</option>
                                                    <option class="form-control"  value="Reactive">Reactive</option>
                                                    <option class="form-control"  value="Non-Reactive">Non-Reactive</option>
                                                </select>
                                                <button class="btn btn-primary btn-sm" (click)="addCustom(selectOptions.value)">Add</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="text-right">
                                                <span data-bs-toggle="modal" data-bs-target="#addOptionModal" style="cursor: pointer; font-size: 14px; color: blue;">
                                                    <i class="fa-solid fa-plus"></i> add new</span>
                                            </div>
                                        </div>
                                        <div *ngIf="selected_options.length != 0" class="col-12 mt-2">
                                            <table class="table table-sm table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td *ngFor="let item of selected_options index as i">{{item}}
                                                            <button type="button" class="btn-close btn-sm" (click)="removefromlistOfOptopns(i)"></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                              </table>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group input-group-sm"  >
                                                <label for="">Units </label>
                                                <input type="text" class="form-control" name="Maximum" [(ngModel)]="unit"
                                                placeholder="enter value" required>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group input-group-sm"  >                                              
                                                <label for="exampleFormControlTextarea1" class="form-label">Range</label>
                                                <textarea class="form-control" rows="2" placeholder="enter range" [(ngModel)]="range"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- custom Fiels End -->

                                <div class="form-check mt-2">
                                    <div class="row">
                                        <div class="col-6 p-0">
                                            <label class="ms-0">Apply Formula</label>
                                        </div>
                                        
                                        <div class="col-3 form-check">
                                            <input class="form-check-input" type="radio" value="Y" name="CheckBox" id="flexCheckDefault1" [(ngModel)]="apply_formula">
                                            <label class="form-check-label" for="flexCheckDefault1">
                                            Yes
                                            </label>
                                        </div>
                                        <div class="col-3 form-check">
                                            <input class="form-check-input" type="radio" value="N" name="CheckBox" id="flexCheckDefault2" [(ngModel)]="apply_formula" checked>
                                            <label class="form-check-label" for="flexCheckDefault2">
                                            No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="apply_formula=='Y';">
                                    <div class="col-12">
                                        <div class="form-group input-group-sm" >
                                            <label for="">Select Field </label>
                                        </div>
                                        <div class="form-group input-group input-group-sm">
                                            <select class="form-control" #selectedField>
                                                <option class="form-control"  value="">select</option>
                                                <option class="form-control" *ngFor="let item of field_name_list"  value="{{item}}">{{item}}</option>
                                            </select>
                                            <button class="btn btn-secondary btn-sm" (click)="addFieldInFormula(selectedField.value)">Add</button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group input-group-sm"  >                                              
                                            <label for="exampleFormControlTextarea1" class="form-label">Formula</label>
                                            <textarea class="form-control" rows="2" placeholder="Enter Formula" [(ngModel)]="formula"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row px-2" >
                                        <a *ngIf="!modifyRow"  class="btn btn-success btn-sm" (click)="addRowInTestTable()"><i class="fa-solid fa-plus"></i> add</a>
                                        <a *ngIf="modifyRow"  class="btn btn-success btn-sm" (click)="modifyRowInTestTable()">Modify</a>
                                    </div>
                                </div>
                        </div>

                        <!-- Title Field start -->
                        <div *ngIf = "field_type=='Title Field' && test_type=='Table'">
                            <div class="col-12 mt-2">
                                <div class="form-group input-group-sm"  >
                                    <label for="">Title Field</label>
                                    <input type="text" class="form-control" name="userAge" [(ngModel)]="title_field"
                                    placeholder="Enter Title Field" required>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="row px-2" >
                                    <a *ngIf="!modifyRow"  class="btn btn-success btn-sm" (click)= "addRowInTestTable()"><i class="fa-solid fa-plus"></i> add</a>
                                    <a *ngIf="modifyRow"  class="btn btn-success btn-sm" (click)= "modifyRowInTestTable()" >Modify</a>
                                </div>
                            </div>
                        </div>
                        <!-- Title Field end -->
                    </div>
                    <div class="col-8">
                        <div *ngIf = "test_type=='Text'" style="height: 54vh;">
                            <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="textContent" [config]="editorConfig" ></angular-editor>
                              
                            <iframe frameborder="0" ><div id="pdfContent"  class="textContentDiv" style="width: 570px;" #pdfContent>
                                <div class="textContentDiv" [innerHTML]="textContent"></div>
                           </div></iframe>
                          
                        </div>
                        <div *ngIf = "field_type!='Text Editor' && test_type=='Table'" style="height: 54vh;  width: 100%;">
                            <table class="table table-hover table-bordered">
                                <thead class="table-light" style="position: sticky; top: 0; z-index: 1;">
                                    <tr>
                                      <th scope="col">Select</th>
                                      <th scope="col">#</th>
                                      <th scope="col">+</th>
                                      <th scope="col">Field Name</th>
                                      <th scope="col">Sub Field</th>
                                      <th scope="col">Data Type</th>
                                      <th scope="col">Unit</th>
                                      <th scope="col">Range</th>
                                      <th scope="col">Formula</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                                    <tr cdkDrag cdkDragLockAxis="y" *ngFor="let item of testContentList index as i">
                                       <th><input class="form-check-input" type="checkbox" name="{{item.field_name}}" 
                                            id="{{item.field_name}}" [checked]="selected === i" (change)="onClickTestField($event,item,i)" ></th>
                                      <th>{{i+1}}</th>
                                      <th (click)="openSUbFieldTable(i)" style="cursor: pointer;">
                                        <span  *ngIf="isRowClickable(i)"  >
                                            <span *ngIf="expanded[i]">-</span>
                                            <span *ngIf="!expanded[i]">+</span>
                                      </span></th>
                                      <td cdkDragHandle style="cursor: pointer;" >{{item.field_name}}</td>
                                      <td>{{item.sub_field}}</td>
                                      <td>{{item.data_type}}</td>
                                      <td>{{item.unit}}</td>
                                      <td>{{item.range}}-{{item.range_to}}</td>
                                      <th><input *ngIf="item.apply_formula == 'Y'" class="form-check-input" type="checkbox" name="check+i" id="check+i"  checked disabled>
                                         <input *ngIf="item.apply_formula == 'N'" class="form-check-input" type="checkbox" name="check+i" id="check+i" disabled>
                                        </th>
                                      <td><Button class="btn btn-outline-danger btn-sm" (click)="removeFormtestContentList(i,item)" ><i class="fa-solid fa-trash-can"></i></Button></td>
                                    </tr>
                                  </tbody>
                                  <br>

                                  <tbody *ngIf="subfieldTableFlag" cdkDropList (cdkDropListDropped)="subListDrop($event)" class="table-secondary">
                                    <tr cdkDrag cdkDragLockAxis="y" *ngFor="let item of sub_fiels_list index as i">
                                      <th><input class="form-check-input" type="checkbox" name="{{item.sub_field}}" 
                                            id="{{item.sub_field}}" [checked]="subFieldSelected === i" (change)="onClickTestSubField($event,item,i)" ></th>
                                      <th>{{i+1}}</th>
                                      <th></th>
                                      <td cdkDragHandle style="cursor: pointer;" >{{item.field_name}}</td>
                                      <td>{{item.sub_field}}</td>
                                      <td>{{item.data_type}}</td>
                                      <td>{{item.unit}}</td>
                                      <td>{{item.range}}-{{item.range_to}}</td>
                                      <th><input *ngIf="item.apply_formula == 'Y'" class="form-check-input" type="checkbox" name="check+i" id="check+i"  checked disabled>
                                         <input *ngIf="item.apply_formula == 'N'" class="form-check-input" type="checkbox" name="check+i" id="check+i" disabled>
                                        </th>
                                      <td><Button class="btn btn-outline-danger btn-sm" (click)="removeFormSubFielsLlist(i,item)" ><i class="fa-solid fa-trash-can"></i></Button></td>
                                    </tr>
                                  </tbody>

                                 
                              </table>
                        </div>
                        <div>

                        </div>
                    </div>
               </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary btn-sm">Reset Report</button>
          <button type="button" class="btn btn-secondary btn-sm" data-bs-target="#viewReportPdf" data-bs-toggle="modal" data-bs-dismiss="modal"
            (click)=" makePdf()" >View Report</button>
          <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#saveModal" >Save changes</button>

        </div>
      </div>
    </div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header py-2">
          <h5 class="modal-title" id="saveModalLabel">Save Changes</h5>
          <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="modal" data-bs-target="#addTestModal"></button>
        </div>
        <div class="modal-body">
         Do you want to save the all changes
        </div>
        <div class="modal-footer py-2">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#addTestModal">back</button>
          <button type="button" class="btn btn-sm btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>




<div class="modal fade modal-dialog-scrollable" id="addOptionModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="addOptionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addOptionModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#addTestModal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addTestModal">Back</button>
          <button type="button" class="btn btn-primary btn-sm">Save changes</button>
        </div>
      </div>
    </div>
  </div>



<!-- Report in PDF Model -->
<div class="modal fade" id="viewReportPdf" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="viewReportPdfLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewReportPdfLabel">View Report</h5>
          <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#addTestModal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0" style="height: 70vh;">
            <div class="row justify-content-center">
                <embed [src]="pdfurl" style="height: 70vh; width: 150vh;"/>
            </div>   
            <!-- <iframe frameborder="0" id="pdfHeaderContent" class="" style="width: 570px;" #pdfHeaderContent >
                <div class="row">
                        <div class="col-2">
                            <img src="assets/Microscop.png" alt="Microscop" height="70" width="">
                        </div>
                        <div class="col-8">
                            <h5>Ganesh Labarotory</h5>
                        </div>
                        <div class="col-2">

                        </div>
                </div>
            </iframe> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addTestModal">Back</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="makePdf()">Print Report</button>
        </div>
      </div>
    </div>
</div>








