/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Vadodara:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Matangi:wght@300..900&display=swap');
@import 'ngx-toastr/toastr';
/* @import '../node_modules/ngx-toastr/toastr-bs4-alert.scss'; */

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Mona Sans, Roboto Condensed;
}

:root {
  --default:#0143a4;
  --indigo: #004fc5;
  --teal: #0D6D6D;
  --grey: #404047;
  --greyFade: #ebebeb;
  --brown-text: #6f4400;
  --brown: #925a01;
  --brownFade: #f5f2ec;
}

.default-color{
    color: var(--indigo);
    accent-color : var(--indigo);
  }

.bg_background {
  background-size: 100%;
  background-repeat: no-repeat;
}

.btn {
  border-radius: 3px;
}

.btn-sm .btn-primary {
  border: none;
}

.btn-secondary {
  border-width: 1px;
  border-color: #ebebeb;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.btn-secondary:disabled,
button[disabled] {
  border-width: 1px;
  border-color: #ebebeb;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  color: rgb(110, 110, 110);
}

.btn-secondary:hover {
  border-width: 1px;
  border-color: #ebebeb;
  background-color: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
}


.btn-danger {
  border-width: 1px;
  border-color: #ebebeb;
  border-radius: 3px;
  box-sizing: border-box;
  background: white;
  color: #c20000;
}

.btn-danger:hover {
  background-color: #ebebeb;
  color: #c20000;
}

input, select{
  font-family: Roboto;
}

.modal-content {
  border: none;
  border-radius: 4px;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.modal-title {
  font-size: 17px;
  margin-left: 14px;
}

.modal-body label {
  font-size: 15px;
}

.toast-top-center {
  padding: 10px;
}

.header-card {
  background-color: transparent;
}

.header-card .card-title {
  font-weight: 400;
  font-size: 18px;
  color: #313131;
}
.option-card:hover {
  cursor: pointer;
}

.card-title {
  color: #2d2d2d;
  font-size: 17px;
  font-weight: 500;
}

.card-text {
  font-size: 13px;
  font-weight: 400;
  color: #4d4d4d;
}

.option-card .card-text {
  font-size: 13px;
}

.work-card-div .card {
  display: block;
  width: 20rem;
  border-width: 1px;
  border-color: #c3c3c3a5;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out, border-color 0.6s ease-in;

}
.card-icon{
  font-size: 25px;
}
.page-title{
  font-size: 18px;
}
.work-card-div .card:hover {
  box-shadow: 1px 2px 7px rgba(153, 153, 153, 0.322);
  cursor: pointer;
}

.toast-container .ngx-toastr {
  box-shadow: none;
}

.toast-container.toast-top-center .ngx-toastr {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #ffffff;
  color: #666666; */
}

.toast-container.toast-top-right .ngx-toastr {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

table {
  font-size: 13.5px;
  vertical-align: middle;
  font-weight: 400;
}

.table thead tr th {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  vertical-align: middle;
}

.table tbody tr td {
  vertical-align: middle;
}
.text-color-muted {
  color: #3f3f3f;
}

.table-patient-name{
  font-family: Roboto;
  font-size: 15px;
}

.docterName:hover {
  color: var(--indigo);
  cursor: pointer;
}

.NameColumn:hover {
  color: var(--indigo);
  cursor: pointer;
}

.spinner-border{
  color: #5a5a5a;
}

.navbar {
  border-bottom: solid;
  border-color: #e8e8e8;
  border-width: 1px;
  backdrop-filter: blur(20px);
}

.brand-name {
  font-family: Roboto Condensed;
  font-size: 18px;
  cursor: pointer;
  color: rgb(30, 30, 30);;
}

.navbar .nav-link {
  font-size: .875rem;
}
.nav-list-item span {
  color: var(--grey);
}
.select {
  background-color: #c1c1c12a;
  color: var(--indigo);
  cursor: pointer;
  span{
    color: var(--indigo);
  }
}
.nav-list-item:hover {
  background-color: #c1c1c139;
  color: var(--indigo);
  cursor: pointer;
  span{
    color: var(--indigo);
  }
}

.offcanvas-body {
  color: var(--grey);
}

.notification-item:hover {
  background-color: #f4f3f3;
}

.closeNotificationbtn {
  cursor: pointer;
  color: #f9f9f9;
  font-size: 18px;
}

.dropdown-menu {
  border: solid;
  border-color: #e8e8e8;
  border-width: 1px;
  width: 180px;
  box-shadow: 0 1rem 3rem rgba(169, 169, 169, 0.127);
  transition: height 1s ease-in-out;
}
.dropdown-item{
    font-size: 14px;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
}
.any-item{
  color: var(--grey);
}
.any-item:hover {
  background-color: #bfbfbf2c;
  border-radius: 4px;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--indigo);
  --bs-tooltip-color: var(--bs-white);
  --bs-tooltip-font-size : 12px;
}

#tabs .nav-tab .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: #202020;
  font-size: 15px;
}

#tabs .nav-tab .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  background-color: #f5faff;
  color: var(--indigo);
}

app-side-nav-bar {
  border-right: solid;
  border-color: #e8eaec;
  border-width: 1px;
}

#toast-container>.toast-success {
  background-image: none;

}

#toast-container>.toast-error {
  background-image: none;
}

#toast-container>.toast-warning {
  background-image: none;
}

#toast-container>.toast-info {
  background-image: none;
  background-color: var(--indigo);
}

.toast-top-right {
  top: 60px;
}

.toast-message {
  font-size: 14px;
}

.toast-close-button {
  font-weight: 400;
  font-size: 20px;
  color: #4c4c4c;
  right: 0.3em;
  top: -0.5em;
  padding: 0px;
  margin: 0px;
}

.toast-container .ngx-toastr {
  padding: 15px 0px 15px 15px;
}

.order-card{
    border: solid;
    border-width: 1px;
    border-color: #e7e7e7;
}

@media screen and (max-width:576px) {

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}


[data-bs-theme="light"] {
  .home-page{
    .card{
      background-color: #f6f8fa;
    }
    .card-name{
      font-size: 15px;
    }
  }
}

[data-bs-theme="dark"] {

  .login-card {
    background-color: #3a3a3a85;
  }

  .header-card .card-title {
    color: var(--greyFade);
  }

  .option-card .card-title {
    color: #ededed;
  }

  .order-card{
    background-color: #212529;
    border: solid;
    border-width: 1px;
    border-color: #373737;
  }

  .card-title {
    color: #ededed;
  }
  .card-text {
    font-size: 13px;
    color: #c5c5c5;
  }

  .navbar {
    background-color: #3a3a3a;
    color: #dfdfdf;
    border: none;
  }

  .brand-name {
    color: #ffffff;
  }

  .navbar .nav-link {
    color: #dfdfdf;
  }

  .option-card {
    border: solid;
    border-width: 1px;
    border-color: #535353;
  }

  .btn-secondary {
    border: none;
    background-color: #494949;
    color: #ffffff;
  }

  .btn-danger {
    border: none;
    background-color: rgb(161, 60, 60);
    color: #ffffff;
  }

  app-side-nav-bar {
    border-right: solid;
    border-color: #3a3b3c;
    border-width: 1px;
  }

  .any-item{
    color: #ffffff;
  }

  .offcanvas-body {
    color: #ffffff;
  }
  .nav-list-item span {
    color: #b8b8b8;
  }
  .nav-list-item {
    color: #b8b8b8;
  }
  .select {
    background-color: #393939;
    color: #ffffff;
    cursor: pointer;
    span{
     color: #ffffff;
    }
  }

  .nav-list-item:hover {
    background-color: #393939;
    color: #ffffff;
    cursor: pointer;
    span{
    color: #ffffff;
  }
  }

  .NameColumn:hover {
    color: rgb(91, 157, 255);
    cursor: pointer;
  }

  .notification-item:hover {
    background-color: #202020;
    color: white;
  }

  .closeNotificationbtn {
    cursor: pointer;
    color: transparent;
    font-size: 18px;
  }

  .dropdown-menu {
    border: solid;
    border-width: 1px;
    border-color: #535353;
  }

  .dropdown-item:hover {
    background-color: #4b4b4b;
  }

  #tabs .nav-tab .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    color: #ffffff;
  }

  #tabs .nav-tab .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    background-color: #3a3a3a;
  }
  
  .text-color-muted{
    color: #c7c7c7;
  }

}