<div>
  <nav class="navbar navbar-expand-md fixed-top px-2 p-xs-0" [ngClass]="{'side-nav-open': menuStatus}">
    <div class="container-fluid px-0 mx-0 ">
      <button class=" navbar-toggler focus-ring focus-ring-light" (click)="onClickToggledOffcanvas()"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="staticBackdrop"
        style="border: none; cursor: pointer; font-size: 16px;">
        <i class="fa-solid fa-angles-right"></i>
      </button>
      <div class="navbar-brand m-0 p-0 me-3 brand-name ">
        <span>
          <img class="applogo mx-2" style="width: 30px;" src="{{logoLocation}}">
        </span>
        <span style="vertical-align: middle;">
          Swasthya Lab
        </span>
      </div>
      <button class="navbar-toggler focus-ring focus-ring-light" style="border: none;" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="font-size: 14px;"></span>
      </button>
      <div class="collapse navbar-collapse p-0 m-0 align-middle" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-md-0 ms-4" style="vertical-align: middle;color: blue;">
          <li class="nav-item">
            <a class="nav-link any-item py-1" aria-current="page" data-bs-toggle="modal" data-bs-target="#entryModal">
              <i class="fa-solid fa-plus"></i> New Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1 any-item" (click)="openNewPatientModal()" data-bs-toggle="modal"
              data-bs-target="#NewPatientModal">
              Add New Patient</a>
          </li>
          <li class="nav-item dropdown any-item">
            <a class="nav-link py-1 pb-0 dropdown-toggle" id="navbarDropdownMenuLink" data-bs-auto-close="outside"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{lab.labName}}
            </a>
            <ul class="dropdown-menu p-2" style="width: 17rem;" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <div class="row">
                  <img src="{{lab.labLogoString}}" class="card-img-top px-4 pt-2">
                  <p class="ms-2">{{lab.labName}}</p>
                </div>
              </li>
              <li>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-primary btn-sm mt-4 mb-2 me-2" routerLink="/selectLab">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i> Change Lab</button>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <div class="d-flex me-0 p-0">
          <div class="btn-group dropdown me-2">
            <span data-bs-toggle="dropdown" aria-expanded="false">
              <span class="btn-group px-1 any-item" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-custom-class="custom-tooltip" data-bs-auto-close="true" data-bs-title="theme">
                <span style="font-size: 18px"><i class="fa-solid fa-fill-drip"></i>
                </span>
              </span>
            </span>
            <ul class="dropdown-menu dropdown-menu-end  p-2  mt-2" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item d-flex theme" (click)="systemMode()">
                  <div><i class="fa-solid fa-desktop me-2"></i> System </div> <span *ngIf="theme==='system'"
                    class=" me-0 mx-auto"><i class="fa-solid fa-check"></i> </span>
                </a></li>
              <li><a class="dropdown-item d-flex theme" (click)="lightMode()">
                  <div><i style="color: #0143a4;" class="fa-solid fa-square me-2"></i> default </div> <span
                    *ngIf="theme==='light'" class=" me-0 mx-auto"><i class="fa-solid fa-check"></i> </span>
                </a></li>
              <li><a class="dropdown-item d-flex theme" (click)="darkMode()">
                  <div><i class="fa-solid fa-moon me-2"></i> dark</div> <span *ngIf="theme==='dark'"
                    class=" me-0 mx-auto"><i class="fa-solid fa-check"></i> </span>
                </a></li>
              <li><a class="dropdown-item d-flex theme" (click)="tealMode()">
                  <div><i style="color: var(--teal);" class="fa-solid fa-square me-2"></i> teal </div> <span
                    *ngIf="theme==='teal'" class=" me-0 mx-auto"><i class="fa-solid fa-check"></i> </span>
                </a></li>
              <li><a class="dropdown-item d-flex theme" (click)="greyMode()">
                  <div><i style="color:  var(--grey) ;" class="fa-solid fa-square me-2"></i> grey </div> <span
                    *ngIf="theme==='grey'" class=" me-0 mx-auto"><i class="fa-solid fa-check"></i> </span>
                </a></li>
                <li><a class="dropdown-item d-flex theme" (click)="brownMode()">
                  <div><i style="color:  var(--brown) ;" class="fa-solid fa-square me-2"></i> brown </div> <span
                    *ngIf="theme==='brown'" class=" me-0 mx-auto"><i class="fa-solid fa-check"></i> </span>
                </a></li>
            </ul>
          </div>
          <div class="btn-group me-2 px-1 any-item">
            <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
              data-bs-title="full screen">
              <span *ngIf="!fullScreenFlag" (click)="openFullscreen()" style="font-size: 18px"><i
                  class="fa-solid fa-expand"></i></span>
              <span *ngIf="fullScreenFlag" (click)="closeFullscreen()" style="font-size: 18px"><i
                  class="fa-solid fa-compress"></i></span>
            </span>
          </div>
          <div class="btn-group me-2">
            <span style="font-size: 18px; cursor: pointer;" data-bs-toggle="dropdown" data-bs-auto-close="outside"
              aria-expanded="true">
              <span class="btn-group py-1 any-item" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-custom-class="custom-tooltip" data-bs-title="notification">
                <i class="fa-regular fa-bell px-sm-2">
                  <span *ngIf="!noNotification"
                    class="position-absolute top-0 start-10 translate-middle p-1 bg-danger border border-light rounded-circle">
                  </span>
                </i>
              </span>
            </span>

            <div class="notification-dropdown dropdown-menu dropdown-menu-end notification-container mt-2 "
              id="notificationDropdown" aria-labelledby="dropdownMenuClickable">
              <div class="all-notification-item d-flex">
                <h6 class="mx-2" style="font-size: 14; font-weight: 600; color: rgb(94, 94, 94);"> Notifications</h6>
                <p class="mx-auto me-2 my-0" (click)="clearAllNotification()" style="cursor: pointer;">clear all</p>
              </div>
              <div style="max-height: 450px; overflow-y: auto;">
                <div *ngIf="noNotification">
                  <div class="notification-item">
                    <div class="message">No New Notification.</div>
                  </div>
                </div>

                <div class="notification-item" *ngFor="let obj of notification index as i">
                  <div class="d-flex">
                    <div>
                      <div class="notification-title d-flex">New Notification</div>
                      <div class="message">{{obj.message}}</div>
                      <div class="time">5 minutes ago</div>
                    </div>
                    <span class="closeNotificationbtn me-0 mx-auto" (click)="closeNotification(i)"><i
                        class="fa-solid fa-xmark"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-group me-2">
            <span data-bs-toggle="dropdown">
              <img class="user-logo" src="../../../assets/icon/man-user-circle-icon.png" alt="" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="profile">
            </span>
            <ul class="dropdown-menu dropdown-menu-end p-2 mt-2">
              <li class="dropdown-item" (click)="onProfileClick()"><i
                  class="fa-regular fa-user me-2 text-color-muted"></i> Your Profile</li>
              <li class="dropdown-item" (click)="onSettingClick()"><i
                  class="fa-solid fa-gear me-2 text-color-muted"></i> Setting</li>
              <li class="dropdown-item" (click)="onSecurityClick()"><i
                  class="fa-solid fa-shield-halved me-2 text-color-muted"></i> Security</li>
              <li>
              <li class="dropdown-item" (click)="onSecurityClick()"><i
                  class="fa-regular fa-circle-question me-2 text-color-muted"></i> Help</li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="dropdown-item" (click)="onLogoutClick()"><i
                  class="fa-solid fa-right-from-bracket me-2 text-color-muted"></i> Log Out</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </nav>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#entryModal">
          <i class="fa-solid fa-plus"></i> New Entry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="modal" data-bs-target="#NewPatientModal">
          Add New Patient</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-auto-close="outside"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{lab.labName}}
        </a>
        <ul class="dropdown-menu p-2" style="width: 17rem;" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <div class="row">
              <img src="{{lab.labLogoString}}" class="card-img-top px-4 pt-2">
              <p class="ms-2">{{lab.labName}}</p>
            </div>
          </li>
          <li>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-primary btn-sm mt-4 mb-2 me-2" routerLink="/selectLab">
                <i class="fa-solid fa-arrow-right-arrow-left"></i> Change Lab</button>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <div class="d-flex me-0 p-0 mt-4">
      <div class="btn-group dropdown me-2">
        <span data-bs-toggle="dropdown" aria-expanded="false">
          <span class="btn-group px-1 any-item" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-custom-class="custom-tooltip" data-bs-auto-close="true" data-bs-title="theme">
            <span *ngIf="Flag==='dark'" style="font-size: 18px">
              <i class="fa-solid fa-moon"></i></span>
            <span *ngIf="Flag==='light'" style="font-size: 18px"><i class="fa-regular fa-sun"></i>
            </span>
          </span>
        </span>
        <ul class="dropdown-menu dropdown-menu-end  p-2  mt-2" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item d-flex theme" (click)="lightMode()">
              <div><i class="fa-regular fa-sun me-2"></i> light Mode </div> <span *ngIf="theme==='light'"
                class=" me-0 mx-auto"><i class="fa-solid fa-check"></i> </span>
            </a></li>
          <li><a class="dropdown-item d-flex theme" (click)="darkMode()">
              <div><i class="fa-solid fa-moon me-2"></i> dark Mode </div> <span *ngIf="theme==='dark'"
                class=" me-0 mx-auto"><i class="fa-solid fa-check"></i> </span>
            </a></li>
          <li><a class="dropdown-item d-flex theme" (click)="systemMode()">
              <div><i class="fa-solid fa-desktop me-2"></i> System </div> <span *ngIf="theme==='system'"
                class=" me-0 mx-auto"><i class="fa-solid fa-check"></i> </span>
            </a></li>
        </ul>
      </div>
      <div class="btn-group mx-2 px-1 any-item">
        <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
          data-bs-title="full screen">
          <span *ngIf="!fullScreenFlag" (click)="openFullscreen()" style="font-size: 18px"><i
              class="fa-solid fa-expand"></i></span>
          <span *ngIf="fullScreenFlag" (click)="closeFullscreen()" style="font-size: 18px"><i
              class="fa-solid fa-compress"></i></span>
        </span>
      </div>
      <div class="btn-group mx-2">
        <span style="font-size: 18px; cursor: pointer;" data-bs-toggle="dropdown" data-bs-auto-close="outside"
          aria-expanded="true">
          <span class="btn-group py-1 any-item" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-custom-class="custom-tooltip" data-bs-title="notification">
            <i class="fa-regular fa-bell px-sm-2">
              <span *ngIf="!noNotification"
                class="position-absolute top-0 start-10 translate-middle p-1 bg-danger border border-light rounded-circle">
              </span>
            </i>
          </span>
        </span>

        <div class="notification-dropdown dropdown-menu dropdown-menu-end notification-container mt-2 "
          id="notificationDropdown" aria-labelledby="dropdownMenuClickable">
          <div class="all-notification-item d-flex">
            <h6 class="mx-2" style="font-size: 14; font-weight: 600; color: rgb(94, 94, 94);"> Notifications</h6>
            <p class="mx-auto me-2 my-0" (click)="clearAllNotification()" style="cursor: pointer;">clear all</p>
          </div>
          <div style="max-height: 450px; overflow-y: auto;">
            <div *ngIf="noNotification">
              <div class="notification-item">
                <div class="message">No New Notification.</div>
              </div>
            </div>

            <div class="notification-item" *ngFor="let obj of notification index as i">
              <div class="d-flex">
                <div>
                  <div class="notification-title d-flex">New Notification</div>
                  <div class="message">{{obj.message}}</div>
                  <div class="time">5 minutes ago</div>
                </div>
                <span class="closeNotificationbtn me-0 mx-auto" (click)="closeNotification(i)"><i
                    class="fa-solid fa-xmark"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group mx-2">
        <span data-bs-toggle="dropdown">
          <img class="user-logo" src="../../../assets/icon/man-user-circle-icon.png" alt="" data-bs-toggle="tooltip"
            data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="profile">
        </span>
        <ul class="dropdown-menu dropdown-menu-end p-2 mt-2">
          <li class="dropdown-item" (click)="onProfileClick()"><i class="fa-regular fa-user me-2 text-color-muted"></i>
            Your Profile</li>
          <li class="dropdown-item" (click)="onSettingClick()"><i class="fa-solid fa-gear me-2 text-color-muted"></i>
            Setting</li>
          <li class="dropdown-item" (click)="onSecurityClick()"><i
              class="fa-solid fa-shield-halved me-2 text-color-muted"></i> Security</li>
          <li>
          <li class="dropdown-item" (click)="onSecurityClick()"><i
              class="fa-regular fa-circle-question me-2 text-color-muted"></i> Help</li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-item" (click)="onLogoutClick()"><i
              class="fa-solid fa-right-from-bracket me-2 text-color-muted"></i> Log Out</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="offcanvasSideNavbar"
  aria-labelledby="offcanvasSideNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasSideNavbarLabel">Side Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <div (click)="clickOnHome()" data-bs-dismiss="offcanvas">
        <div class="nav-list-item linear-gradient-default" [ngClass]="{'select':eventObj.navHome}">
          <i class="fa-solid fa-house"></i>
          <div>Home</div>
        </div>
      </div>
      <div (click)="clickOnEntry()" data-bs-dismiss="offcanvas">
        <div class="nav-list-item linear-gradient-default" [ngClass]="{'select':eventObj.navEntry}">
          <i class="fa-regular fa-pen-to-square"></i>
          <div>Entry List</div>
        </div>
      </div>
      <div (click)="clickOnPateint()" data-bs-dismiss="offcanvas">
        <div class="nav-list-item linear-gradient-patient" [ngClass]="{'select':eventObj.navPatient}">
          <i class="fa-solid fa-user" style="font-size: 16px;"></i>
          <div>Patient</div>
        </div>
      </div>
      <div (click)="clickOnDashboard()" data-bs-dismiss="offcanvas">
        <div class="nav-list-item linear-gradient-default " [ngClass]="{'select':eventObj.navDashboard}">
          <i class="fa-solid fa-chart-line"></i>
          <div>Dashboard</div>
        </div>
      </div>

      <div (click)="clickOnMaster()" data-bs-dismiss="offcanvas">
        <div class="nav-list-item linear-gradient-default" [ngClass]="{'select':eventObj.navMaster}">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <div>Master</div>
        </div>
      </div>

      <div (click)="clickOnSetting()" data-bs-dismiss="offcanvas">
        <div class="nav-list-item linear-gradient-setting" [ngClass]="{'select':eventObj.navSetting}">
          <i class="fa-solid fa-gear" style="font-size: 17px;"></i>
          <div>Setting</div>
        </div>
      </div>

      <div (click)="clickOnAbout()" data-bs-dismiss="offcanvas">
        <div class="nav-list-item linear-gradient-info" [ngClass]="{'select':eventObj.navAbout}">
          <i class="fa-solid fa-circle-info" style="font-size: 17px;"></i>
          <div>About</div>
        </div>
      </div>

      <div (click)="clickOnContact()" data-bs-dismiss="offcanvas">
        <div class="nav-list-item linear-gradient-default" [ngClass]="{'select':eventObj.navContact}">
          <i class="fa-solid fa-phone"></i>
          <div>Contact</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-entry-modal></app-entry-modal>
<!-- Add new patient modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
      <div class="modal-content ">
        <div class="modal-header d-flex">
          <h5 class="modal-title" id="exampleModalLabel"> Create New Entry </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="height: 40rem;">
            <div class="container-xl">

                <div class="row my-lg-2 justify-content-center">
                    <div class="col-12 col-md-3 col-lg-4 col-xl-3">
                        <h6>Search Patient </h6>
                    </div>
                    <div class="col-12 col-md-4 col-lg-5 col-xl-5">
                      <div class="form-group input-group input-group-sm">
                          <input type="text" class="form-control" list="datalistOptions"  minlength="3" placeholder="Enter Name or Mobile No" required>
                          
                          <datalist id="datalistOptions">
                            <option value="San Francisco">
                            <option value="New York">
                            <option value="Seattle">
                            <option value="Los Angeles">
                            <option value="Chicago">
                          </datalist>
                          <button class="btn btn-secondary btn-sm">Add</button>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                      <a  class="btn btn-secondary btn-sm ms-md-4" data-bs-toggle="modal" data-bs-target="#NewPatientModal">
                        <i class="fa-solid fa-plus"></i> New Patient</a>
                  </div>
                </div>
                <br>
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active  " id="tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0" role="tab" aria-controls="justified-tabpanel-0" aria-selected="true"> Patient Details * </a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link  " id="tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab" aria-controls="justified-tabpanel-1" aria-selected="false"> Refers Details * </a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link  " id="tab-2" data-bs-toggle="tab" href="#simple-tabpanel-2" role="tab" aria-controls="justified-tabpanel-2" aria-selected="false"> Reports * </a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link  " id="tab-2" data-bs-toggle="tab" href="#simple-tabpanel-3" role="tab" aria-controls="justified-tabpanel-3" aria-selected="false"> Remark </a>
                  </li>
                </ul>
                <div class="tab-content pt-2" id="tab-content">
                  <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0"> 
                        <div class="row my-2 px-2 mt-4">
                          <div class="col-12 col-md-4 col-lg-2">
                            <label for="">Title </label> 
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                
                              <div class="form-group input-group input-group-sm">
                                  <select class="form-select" >
                                      <option selected value="">Select</option>
                                      <option  value="MR.">MR.</option>
                                      <option  value="MRS.">MRS.</option>
                                      <option  value="MS.">MS.</option>
                                      <option  value="DR.">DR.</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-12 col-md-4 col-lg-2">
                              <div class=" form-group input-group-sm ms-lg-4 mt-2 mt-lg-0" >
                                  <label for="">First Name</label>
                              </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4 mt-2 mt-lg-0">
                              <div class="form-group input-group-sm"  >
                                  <div class="input-group flex-nowrap input-group-sm">
                                    <input type="text" class="form-control"   minlength="3"
                                    placeholder="Enter First Name" required>
                                  </div>
                              </div>
                          </div>
                    </div>

                    <div class="row my-2 px-2">
                      
                      <div class="col-12 col-md-4 col-lg-2">
                          <div class=" form-group input-group-sm " >
                              <label for="">Middle Name</label>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="form-group input-group-sm"  >
                              <div class="input-group flex-nowrap input-group-sm">
                                <input type="text" class="form-control"   minlength="3"
                                placeholder="Enter Middle Name" required>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
                        <div class=" form-group input-group-sm ms-lg-4 " >
                          <label for="">Last Name </label> 
                        </div>
                        
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 mt-2 mt-lg-0">
                        <div class="input-group flex-nowrap input-group-sm">
                          <input type="text" class="form-control"   minlength="3"
                          placeholder="Enter Last Name" required>
                          </div>
                      </div>
                    </div>

                    <div class="row my-2 px-2">
                      
                    <div class="col-12 col-md-4 col-lg-2">
                      <div class="form-group input-group-sm" >
                          <label for="">Gender </label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="form-group input-group input-group-sm">
                        <select class="form-select" >
                            <option  value="" selected >Select gender</option>
                            <option  value="M">Male</option>
                            <option  value="F">Female</option>
                            <option  value="O">Other</option>
                        </select>
                    </div>
                    </div>
                      <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0 ">
                        <div class=" form-group input-group-sm ms-lg-4 " >
                          <label for="">Age </label>
                        </div>
                        
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 mt-2 mt-lg-0">
                        
                     
                          <div class="row">
                            <div class="col-6">
                              <div class="input-group flex-nowrap input-group-sm">
                                <input type="number" class="form-control"   minlength="3"
                                placeholder="Enter Age" required>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group input-group input-group-sm">
                                <select class="form-select" >
                                    <option selected  value="Y">Year</option>
                                    <option  value="M">Month</option>
                                </select>
                              </div>
                            </div>
                          </div>
                       
                      </div>
                    </div>

                    <div class="row my-2 mt-4">
                      <label for="">Address And Communication</label>
                    </div>

                    
                    <div class="row my-2 px-2">
                      
                      <div class="col-12 col-md-4 col-lg-2">
                          <div class=" form-group input-group-sm " >
                              <label for="">Country</label>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="form-group input-group input-group-sm">
                            <select class="form-select" required >
                                <option  value="" selected >Select Country</option>
                                <option  value="IN">India</option>
                            </select>
                          </div>
                      </div>
                      <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0 ">
                        <div class=" form-group input-group-sm ms-lg-4 " >
                          <label for="">State </label> 
                        </div>
                        
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 mt-2 mt-lg-0">
                        <div class="form-group input-group input-group-sm">
                          <select class="form-select" [(ngModel)]= "state" (ngModelChange)= "onSelectState()" required >
                              <option  value="" selected >Select State</option>
                              <option *ngFor= "let state of stateList" value="{{state.code}}">{{ state.discription }}</option>
                              
                          </select>
                        </div>
                      </div>
                    </div>

                    
                    <div class="row my-2 px-2">
                      
                      <div class="col-12 col-md-4 col-lg-2">
                          <div class=" form-group input-group-sm " >
                              <label for="">District</label>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="form-group input-group input-group-sm">
                            <select class="form-select" [(ngModel)]= "district" required>
                                <option  value="" selected >Select District</option>
                                <option *ngFor= "let dist of districtList" value="dist.discription">{{ dist.discription }}</option>
                                
                            </select>
                          </div>
                      </div>
                      <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0 ">
                        <div class=" form-group input-group-sm ms-lg-4 " >
                          <label for="">City / Village </label> 
                        </div>
                        
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 mt-2 mt-lg-0">
                        <div class="input-group flex-nowrap input-group-sm">
                          <input type="text" class="form-control"   minlength="3"
                          placeholder="Enter City / village name" required>
                          </div>
                      </div>
                    </div>

                    
                    <div class="row my-2 px-2">
                      
                      <div class="col-12 col-md-4 col-lg-2">
                          <div class=" form-group input-group-sm " >
                              <label for="">Address Line</label>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="form-group input-group-sm"  >
                              <div class="input-group flex-nowrap input-group-sm">
                                <input type="text" class="form-control"   minlength="3"
                                placeholder="Enter Address line" required>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
                        <div class=" form-group input-group-sm ms-lg-4 " >
                          <label for="">Pincode </label> 
                        </div>
                        
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 mt-2 mt-lg-0">
                        <div class="input-group flex-nowrap input-group-sm">
                          <input type="number" class="form-control"   minlength="3"
                          placeholder="Enter Pincode" required>
                          </div>
                      </div>
                    </div>

                    <div class="row my-2 px-2">
                      
                      <div class="col-12 col-md-4 col-lg-2">
                          <div class=" form-group input-group-sm " >
                              <label for="">Mobile No</label>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="form-group input-group-sm"  >
                              <div class="input-group flex-nowrap input-group-sm">
                                <input type="number" class="form-control"   minlength="3"
                                placeholder="Enter Mobile No" required>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
                        <div class=" form-group input-group-sm ms-lg-4 " >
                          <label for="">Email ID </label> 
                        </div>
                        
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 mt-2 mt-lg-0">
                        <div class="input-group flex-nowrap input-group-sm">
                          <input type="email" class="form-control"   minlength="3"
                          placeholder="Enter Email Address " required>
                          </div>
                      </div>
                    </div>
                    
                  </div>
                 
                  <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">

                    <div class="row my-2 px-2 mt-4">
                      <div class="col-12 col-md-4 col-lg-2">
                          <div class=" form-group input-group-sm " >
                              <label for="">Refer By</label>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group input-group input-group-sm">
                          <select class="form-select" >
                              <option selected   value="">Select</option>
                              <option   value="Myself">Myself</option>
                              <option   value="Dr. Agrawal">Dr. Agrawal</option>
                          </select>
                        </div>
                      </div>
                    </div>

                  </div>
                 
                  <div class="tab-pane" id="simple-tabpanel-2" role="tabpanel" aria-labelledby="simple-tab-2"> 
                    <div class="row my-2 px-2 my-4">
                      <div class="col-12 col-md-4 col-lg-3">
                          <div class=" form-group input-group-sm " >
                              <label for="">Add Reports</label>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group input-group input-group-sm">
                          <select class="form-control" >
                              <option class="form-control"  value="">Select</option>
                              <option class="form-control"  value="Myself">CBC</option>
                              <option class="form-control"  value="Dr. Agrawal">WIDAL</option>
                          </select>
                          <button class="btn btn-secondary btn-sm">add</button>
                      </div>
                      </div>
                    </div>
                    <div class="container-sm">
                      <table class="table table-hover table-sm table-bordered">
                          <thead style="color: blue;">
                            <tr style="color: blue;">
                              <th scope="col">#</th>
                              <th scope="col">First</th>
                              <th scope="col">Last</th>
                              <th scope="col">Handle</th>
                            </tr>
                          </thead>
                          <tbody style="background-color: cadetblue;">
                            <tr>
                              <th scope="row">1</th>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>mdo</td>
                            </tr>
                          </tbody>
                        </table>
                    </div> 

                  </div>
                  <div class="tab-pane" id="simple-tabpanel-3" role="tabpanel" aria-labelledby="simple-tab-3">
                    <div class="row my-2 px-2 mt-4">
                      <div class="col-12 col-md-4 col-lg-3">
                          <div class=" form-group input-group-sm " >
                              <label for="">Remark </label>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group flex-nowrap input-group-sm">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success btn-sm" (click)= "addPatient()" data-bs-dismiss="modal" aria-label="Close">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->


<!-- Add New Patient Modal -->
<app-patient-modal [modalType]="patientModalType"></app-patient-modal>
<!-- <div class="modal fade" id="NewPatientModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="NewPatientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title" id="NewPatientModalLabel"> Add New Patient </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-sm">
          <div class="row my-2 px-2">
            <div class="col-12 col-md-4 col-lg-2">
              <label for="">Title </label>
            </div>
            <div class="col-12 col-md-8 col-lg-4">

              <div class="form-group input-group input-group-sm">
                <select class="form-control">
                  <option class="form-control" value="">Select</option>
                  <option class="form-control" value="MR.">MR.</option>
                  <option class="form-control" value="MRS.">MRS.</option>
                  <option class="form-control" value="MS.">MS.</option>
                  <option class="form-control" value="DR.">DR.</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
              <div class=" form-group input-group-sm ms-lg-4">
                <label for="">First Name</label>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
              <div class="form-group input-group-sm">
                <div class="input-group flex-nowrap input-group-sm">
                  <input type="text" class="form-control" minlength="3" placeholder="Enter First Name" required>
                </div>
              </div>
            </div>
          </div>

          <div class="row my-2 px-2">

            <div class="col-12 col-md-4 col-lg-2">
              <div class=" form-group input-group-sm ">
                <label for="">Middle Name</label>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4">
              <div class="form-group input-group-sm">
                <div class="input-group flex-nowrap input-group-sm">
                  <input type="text" class="form-control" minlength="3" placeholder="Enter Middle Name" required>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
              <div class=" form-group input-group-sm ms-lg-4 ">
                <label for="">Last Name </label>
              </div>

            </div>
            <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
              <div class="input-group flex-nowrap input-group-sm">
                <input type="text" class="form-control" minlength="3" placeholder="Enter Last Name" required>
              </div>
            </div>
          </div>

          <div class="row my-2 px-2">

            <div class="col-12 col-md-4 col-lg-2">
              <div class="form-group input-group-sm">
                <label for="">Gender </label>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4 ">
              <div class="form-group input-group input-group-sm">
                <select class="form-control">
                  <option class="form-control" value="">Select gender</option>
                  <option class="form-control" value="M">Male</option>
                  <option class="form-control" value="F">Female</option>
                  <option class="form-control" value="O">Other</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
              <div class=" form-group input-group-sm ms-lg-4 ">
                <label for="">Age </label>
              </div>

            </div>
            <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">


              <div class="row">
                <div class="col-6">
                  <div class="input-group flex-nowrap input-group-sm">
                    <input type="number" class="form-control" minlength="3" placeholder="Enter Age" required>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group input-group input-group-sm">
                    <select class="form-control">
                      <option class="form-control" value="Y">Year</option>
                      <option class="form-control" value="M">Month</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row my-2 mt-4">
            <label for="">Address And Communication</label>
          </div>


          <div class="row my-2 px-2">

            <div class="col-12 col-md-4 col-lg-2">
              <div class=" form-group input-group-sm ">
                <label for="">Country</label>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4">
              <div class="form-group input-group-sm">
                <div class="input-group flex-nowrap input-group-sm">
                  <input type="text" class="form-control" minlength="3" placeholder="Enter Middle Name" required>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
              <div class=" form-group input-group-sm ms-lg-4 ">
                <label for="">State </label>
              </div>

            </div>
            <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
              <div class="input-group flex-nowrap input-group-sm">
                <input type="text" class="form-control" minlength="3" placeholder="Enter Last Name" required>
              </div>
            </div>
          </div>


          <div class="row my-2 px-2">

            <div class="col-12 col-md-4 col-lg-2">
              <div class=" form-group input-group-sm ">
                <label for="">District</label>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4">
              <div class="form-group input-group-sm">
                <div class="input-group flex-nowrap input-group-sm">
                  <input type="text" class="form-control" minlength="3" placeholder="Enter Middle Name" required>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
              <div class=" form-group input-group-sm ms-lg-4 ">
                <label for="">City / Village </label>
              </div>

            </div>
            <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
              <div class="input-group flex-nowrap input-group-sm">
                <input type="text" class="form-control" minlength="3" placeholder="Enter City / village name" required>
              </div>
            </div>
          </div>


          <div class="row my-2 px-2">

            <div class="col-12 col-md-4 col-lg-2">
              <div class=" form-group input-group-sm ">
                <label for="">Address Line</label>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4">
              <div class="form-group input-group-sm">
                <div class="input-group flex-nowrap input-group-sm">
                  <input type="text" class="form-control" minlength="3" placeholder="Enter Address line" required>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
              <div class=" form-group input-group-sm ms-lg-4 ">
                <label for="">Pincode </label>
              </div>

            </div>
            <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
              <div class="input-group flex-nowrap input-group-sm">
                <input type="number" class="form-control" minlength="3" placeholder="Enter Pincode" required>
              </div>
            </div>
          </div>

          <div class="row my-2 px-2">

            <div class="col-12 col-md-4 col-lg-2">
              <div class=" form-group input-group-sm ">
                <label for="">Mobile No</label>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4">
              <div class="form-group input-group-sm">
                <div class="input-group flex-nowrap input-group-sm">
                  <input type="number" class="form-control" minlength="3" placeholder="Enter Mobile No" required>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 mt-2 mt-lg-0">
              <div class=" form-group input-group-sm ms-lg-4 ">
                <label for="">Email ID </label>
              </div>

            </div>
            <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
              <div class="input-group flex-nowrap input-group-sm">
                <input type="email" class="form-control" minlength="3" placeholder="Enter Email Address " required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="showtoast()" class="btn btn-success btn-sm">Save changes</button>
      </div>
    </div>
  </div>
</div> -->