app-side-nav-bar {
  position: fixed;
  top: 3rem;
  height: calc(100vh - 3rem);
  width: 200px;
  overflow-y: auto;
  transition: width 250ms ease-in;
  padding-left: 4px;
  padding-right: 4px;
}

.side-nav-open {
  padding: 0px;
  width: 50px;
  overflow-x: auto;
}

/* width reduce due to add new button */
.display-area {
  position: absolute;
  width: (100% - 200px);
  top: 3rem; 
  left: 200px;
  right: 0px;
  transition: width 250ms ease-in, left 250ms ease-in;

}

.display-area-shrink {
  width: (100% - 50px);
  left: 56px;
}
.sub-pages {
  height: calc(100vh - 3rem);
  overflow: auto;
  position: relative;
  overflow-x: hidden;
}

@media screen and (max-width:767px) {
  app-side-nav-bar {
    padding: 0px;
    width: 0px;
    background-color: #f6f6f6;
    transition: width 150ms ease-in;
  }

  .side-nav-open {
    padding: 0px;
    padding-top: 0px;
    width: 0px;
    overflow-x: hidden;
    white-space: nowrap;
  }

  .display-area {
    width: 100%;
    left: 0px;
    right: 0px;
    transition: width 250ms ease-in, left 250ms ease-in;
    padding: 0px;
  }

  .btn-expand-sidenav {
    display: none;
  }
  .sub-pages {
    margin-left: 0px;
    width: 100%;
  }
}


