<!-- Top bar -->
<app-billing-dashboard-navbar (sideNavToggled)="sideNavStatus = $event"  (addPatientEvent)="eventObj = $event"></app-billing-dashboard-navbar>
<main>
    <!-- side bar -->
    <app-side-nav-bar [sideNavStatus]="sideNavStatus"  [eventObj]="eventObj"
    [ngClass]="{'side-nav-open': sideNavStatus}"
    (sideNavPatient)="eventObj = $event"
    ></app-side-nav-bar>
    <!-- Main Display Area -->
    <div class="display-area" [ngClass]="{'display-area-shrink': sideNavStatus}">
        <div>
            <router-outlet></router-outlet>
         </div>
    </div>
</main>
