
<!-- <div class="row mx-2">
  <div class="col-12">
    <div class="card mt-4 p-4 col-12">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold; color: rgb(75, 75, 75);">Welcome </h5>
        <h6 class="card-subtitle mb-2">Back, Ganesh!</h6>
        <p class="card-text" style="font-size: 14px; color: black;">APLS Lab Management System</p>
      </div>
    </div>
  </div>
</div> -->
<div class="row mx-1 mx-md-4  " >
  <div class="card mt-2 py-2 header-card" style="border: none;">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold; color: rgb(75, 75, 75);">Welcome </h5>
        <h6 class="card-subtitle mb-2">Back, Ganesh!</h6>
        <p class="card-text" style="font-size: 14px; color: black;">APLS Lab Management System</p>
      </div>
    </div>
</div>

<!-- <div class="card mx-2" style="width: 20rem;">
    <div class="card-body">
      <h3 class="card-title" style="font-weight: bold;">25</h3>
      <h6 class="card-subtitle text-muted">Total Patient</h6>
      <p class="card-text mb-0"> +12% Today Patient Count</p>
    </div>
    <div class="card-body">
        <i class="fa-solid fa-user symbol"></i>
    </div>
</div>
<div class="card mx-2" style="width: 20rem;">
    <div class="card-body">
      <h3 class="card-title"><i class="fa-solid fa-indian-rupee-sign"></i> 2500.00</h3>
      <h6 class="card-subtitle text-muted">Total Earning</h6>
      <p class="card-text">+10% Todays Income</p>
    </div>
    <div class="card-body ms-4">
        <i class="fa-solid fa-indian-rupee-sign symbol"></i>
    </div>
</div> -->

<div class="row mx-1 mx-md-4 ">
   
        <div class="card option-card">
              <div class="card-body" (click)="clickOnDashboard()">
                <h6 class="card-title" ><i class="fa-solid fa-chart-line me-2"></i> Dashboard</h6>
                <p class="card-text">With supporting below Button lead-in to Dashboard content.</p>
                <!-- <a (click)="clickOnDashboard()" class="btn btn-sm btn-primary ">Go to Dashboard</a> -->
              </div>
        </div>
      
   
      <div class="card option-card">
            <div class="card-body" (click)="clickOnPateint()">
              <h6 class="card-title"><i class="fa-solid fa-user me-2"></i> Patient Management</h6>
              <p class="card-text">With supporting below Button lead-in to patients content.</p>
              <!-- <a (click)="clickOnPateint()"class="btn btn-sm btn-primary">Go to Patients</a> -->
            </div>
      </div>
   
  
      <div class="card option-card">
            <div class="card-body" (click)="clickOnMaster()">
              <h6 class="card-title"><i class="fa-solid fa-screwdriver-wrench me-2"></i> Masters Management</h6>
              <p class="card-text">With supporting below Button lead-in to masters content.</p>
              <!-- <a (click)="clickOnMaster()" class="btn btn-sm btn-primary ">Go to Masters</a> -->
            </div>
      </div>
   
  </div>